/*----------------------------------------*/
/*  4.  About CSS
/*----------------------------------------*/
.about-area {}
/*-- About Image --*/
.about-image {
    margin-right: 52px;
    width: 318px;
    @media #{$desktop-device}{
        margin-right: 35px;
        width: 345px;
    }
    @media #{$tablet-device}{
        margin-bottom: 30px;
        float: none;
    }
    @media #{$large-mobile}{
        margin-bottom: 30px;
        margin-right: 0;
        float: none;
        width: auto;
    }
    & img {
        width: 100%;
    }
}
/*-- About Content --*/
.about-content {
    & h1 {
        font-size: 40px;
        font-weight: 800;
        line-height: 40px;
        margin-bottom: 2px;
        @media #{$small-mobile}{
            font-size: 30px;
            line-height: 30px;
        }
        & span {
            color: $theme-color-1;
        }
    }
    & h4 {
        font-size: 18px;
        font-weight: 500;
        color: lighten($text-color, 15);
        margin-bottom: 23px;
    }
    & p {
        font-size: 16px;
        line-height: 27px;
    }
}
/*-- Funfact --*/
.funfact {
    border: 1px solid #eeeeee;
    margin-top: 32px;
    float: left;
    width: 100%;
    & .single-funfact {
        float: left;
        width: 25%;
        padding: 28px 15px 28px;
        @media #{$large-mobile}{
            width: 50%;
            &:nth-child(3) {
                border-top: 1px solid #eeeeee;
                border-left: 0px solid #eeeeee;
            }
            &:nth-child(4) {
                border-top: 1px solid #eeeeee;
            }
        }
        & + .single-funfact {
            border-left: 1px solid #eeeeee;
        }
        & h2 {
            font-size: 30px;
            color: $theme-color-1;
            line-height: 24px;
            font-family: $opensans;
            margin-bottom: 8px;
        }
        & p {
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 0;
            color: lighten($text-color, 10);
        }
    }
}