/*----------------------------------------*/
/*  10.  Agent CSS
/*----------------------------------------*/
.agent-area {
    padding-top: 73px;
    @media #{$tablet-device}{
        padding: 70px 0;
    }
    @media #{$large-mobile}{
        padding: 70px 0;
    }
}
/*-- Agent Image --*/
.agent-image {
    padding-right: 85px;
    @media #{$desktop-device}{
        padding-right: 70px;
    }
    @media #{$tablet-device}{
        padding-right: 50px;
    }
    @media #{$large-mobile}{
        padding: 0 30px;
    }
    & img {
        width: 100%;
    }
}
/*-- Agent Content --*/
.agent-content {
    margin-left: -30px;
    margin-top: 46px;
    @media #{$large-mobile}{
        margin-left: 0;
    }
    & h2 {
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 800;
        line-height: 22px;
        margin-bottom: 60px;
        @media #{$small-mobile}{
            font-size: 24px;
            line-height: 18px;
            margin-bottom: 30px;
        }
        & span {
            color: $theme-color-1;
        }
    }
    & h3 {
        font-size: 22px;
        font-family: $opensans;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 7px;
        @media #{$small-mobile}{
            font-size: 18px;
            line-height: 14px;
        }
    }
    & h5 {
        font-size: 14px;
        font-family: $opensans;
        font-weight: 700;
        text-transform: uppercase;
        color: $theme-color-1;
        margin-bottom: 16px;
    }
    & p {
        font-weight: 500;
        margin-bottom: 22px;
    }
}
/*-- Agent Contact Info --*/
.agent-contact-info {
    margin-bottom: 40px;
    & li {
        font-family: $opensans;
        font-weight: 600;
        float: left;
        min-width: 200px;
        color: lighten($text-color, 5);
        & span {
            font-weight: 700;
            text-transform: uppercase;
        }
    }
}
/*-- Agent Contact Form --*/
.agent-contact-form {
    max-width: 374px;
    & form {
        margin-left: -8px;
        margin-right: -8px;
        & .input-box-2 {
            & .input-box {
                width: 50%;
                @media #{$small-mobile}{
                    width: 100%;
                }
                & input {}
            }
        }
        & .input-box {
            padding-left: 8px;
            padding-right: 8px;
            width: 100%;
            float: left;
            margin-bottom: 16px;
            & input, textarea {
                width: 100%;
                height: 36px;
                padding: 5px 14px;
                border: 1px solid #e2e2e2;
                border-radius: 5px;
                font-family: $opensans;
                color: #ababab;
                font-size: 13px;
                float: left;
            }
            & textarea {
                height: 90px;
            }
            &.submit-box {
                margin-bottom: 0;
                & input {
                    width: 145px;
                    text-align: center;
                    font-weight: 600;
                    text-transform: uppercase;
                    border: none;
                    color: $color-white;
                    background: $theme-color-2;
                    background: -moz-linear-gradient(left, $theme-color-2 0%, $theme-color-1 51%, $theme-color-2 100%);
                    background: -webkit-gradient(left top, right top, color-stop(0%, $theme-color-2), color-stop(51%, $theme-color-1), color-stop(100%, $theme-color-2));
                    background: -webkit-linear-gradient(left, $theme-color-2 0%, $theme-color-1 51%, $theme-color-2 100%);
                    background: -o-linear-gradient(left, $theme-color-2 0%, $theme-color-1 51%, $theme-color-2 100%);
                    background: -ms-linear-gradient(left, $theme-color-2 0%, $theme-color-1 51%, $theme-color-2 100%);
                    background: linear-gradient(to right, $theme-color-2 0%, $theme-color-1 51%, $theme-color-2 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$theme-color-2', endColorstr='$theme-color-2', GradientType=1 );
                    background-size: 200% auto;
                    &:hover {
                        background-position: right center;
                    }
                }
            }
        }
    } 
}
/*-- No Gradient Background for IE --*/
.no-cssgradients {
    .agent-contact-form {
        & form {
            & .input-box {
                &.submit-box {
                    & input {
                        filter: none;
                        &:hover {
                            background-color: $theme-color-1;
                        }
                    }
                }
            }
        } 
    }
}