/*----------------------------------------*/
/*  5.  Amenities CSS
/*----------------------------------------*/
.amenities-area {
    background-image: url(img/amenities/1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: $theme-color-1;
    & img {
        width: 100%;
    }
}
/*-- Amenities Content --*/
.amenities-content {
    padding: 110px 180px 100px 85px;
    @media #{$large-device}{
        width: 50%;
        margin-left: 50%;
    }
    @media #{$laptop-device}{
        padding-left: 75px;
        padding-right: 130px;
    }
    @media #{$desktop-device}{
        padding: 60px;
    }
    @media #{$tablet-device}{
        padding: 75px;
    }
    @media #{$large-mobile}{
        padding: 50px 30px;
    }
    z-index: 1;
    &::before {
        opacity: 1;
        z-index: -1;
    }
    & h2 {
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 18px;
        color: $color-white;
        @media #{$small-mobile}{
            font-size: 24px;
        }
    }
    & p {
        font-size: 15px;
        line-height: 23px;
        margin-bottom: 50px;
        color: darken($color-white, 8);
        font-weight: 500;
    }
    & ul {
        & li {
            color: darken($color-white, 8);
            font-size: 15px;
            line-height: 23px;
            font-weight: 600;
            float: left;
            width: 260px;
            margin-bottom: 7px;
            position: relative;
            @media #{$desktop-device}{
                width: 250px;
            }
            @media #{$small-mobile}{
                width: 100%;
            }
            & .border {
                background: rgba(0, 0, 0, 0) url("img/amenities/line.png") repeat scroll 0 0;
                height: 1px;
                overflow: hidden;
                position: absolute;
                top: 50%;
            }
            &:nth-child(2n) {
                margin-left: 90px;
                @media #{$laptop-device}{
                    margin-left: 60px;
                }
                @media #{$desktop-device}{
                    margin-left: 50px;
                }
                @media #{$tablet-device}{
                    margin-left: 70px;
                }
                @media #{$large-mobile}{
                    margin-left: 0;
                }
            }
            & span {
                &.left {
                    float: left;
                }
                &.right {
                    float: right;
                    font-family: $opensans;
                }
            }
        }
    }
}