/*----------------------------------------*/
/*  11.  Blog CSS
/*----------------------------------------*/
.blog-area.overlay {
    background-image: url(img/blog/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    &::before {
        background: $theme-color-2;
        opacity: 0.95;
    }
}
/*-- Blog Section Title --*/
.blog-section-title {
    & h2 {
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 800;
        line-height: 22px;
        margin-bottom: 0;
        color: $color-white;
        @media #{$small-mobile}{
            font-size: 24px;
            line-height: 18px;
        }
    }
}
/*-- Blog Item --*/
.blog-item {
    & .image {
        margin-bottom: 13px;
        display: block;
        & img {
            width: 100%;
        }
    }
    & .content {
        & h4 {
            font-size: 18px;
            font-weight: 700;
            line-height: 28px;
            margin-bottom: 0;
            & a {
                color: $heading-color;
                &:hover {
                    color: $theme-color-1;
                }
            }
        }
        & .meta {
            border-bottom: 1px solid #eee;
            padding-bottom: 6px;
            margin-bottom: 15px;
            & span {
                color: $text-color;
                font-size: 14px;
                line-height: 23px;
                font-weight: 600;
                & a {
                    color: $text-color;
                    &:hover {
                        color: $theme-color-1;
                    }
                }
            }
        }
        & p {
            color: $text-color;
        }
        &.white h4 {
            & a {
                color: $color-white;
                &:hover {
                    opacity: 0.75;
                }
            }
        }
        &.white .meta {
            border-bottom: 1px solid #d8e0e5;
            & span {
                color: $color-white;
                & a {
                    color: $color-white;
                    &:hover {
                        opacity: 0.75;
                    }
                }
            }
        }
        &.white p {
            color: $color-white;
        }
    }
}
/*-- Single Blog Details --*/
.single-blog-details {
    margin-bottom: 60px;
}
.blog-details-media {
    & img {
        width: 100%;
    }
}
.blog-details-content {
    padding: 30px 0 50px;
    & .blog-title {
    color: $heading-color;
    font-size: 24px;
    font-weight: 500;
    margin: 0 0 5px;
    }
    /* Blog Meta */
    & .blog-meta {
        margin-bottom: 12px;
        & a {
            color: $text-color;
            display: block;
            float: left;
            font-size: 12px;
            line-height: 24px;
            margin-right: 15px;
            &:hover {
                color: $theme-color-1;
            }
            & i {
                display: block;
                float: left;
                font-size: 14px;
                line-height: 22px;
                margin-right: 7px;
                padding-left: 2px;
            }
        }
    }
    & p {
        color: $text-color;
        font-weight: 300;
        margin-bottom: 35px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
/*-- Blog Details Footer --*/
.blog-details-footer {
    border-bottom: 1px solid lighten( $text-color, 40 );
    border-top: 1px solid lighten( $text-color, 40 );
    padding: 10px 0;
    & .blog-tags {
        @media #{$small-mobile}{
            float: left;
            width: 100%;
        }
        & p {
            color: $text-color;
            display: block;
            float: left;
            margin-bottom: 0;
            margin-right: 3px;
            text-transform: capitalize;
        }
        & a { 
            color: $text-color;
            display: block;
            float: left;
            margin-right: 5px;
            &:hover {
                color: $theme-color-1;
            }
        }
    }
    & .blog-share {
        @media #{$small-mobile}{
            float: left;
            width: 100%;
            margin-top: 10px;
        }
        & p {
            color: $text-color;
            display: block;
            float: left;
            margin-bottom: 0;
            margin-right: 12px;
            text-transform: capitalize;
        }
        & a {
            border: 1px solid lighten( $text-color, 40 );
            border-radius: 50%;
            color: lighten( $text-color, 20 );
            display: block;
            float: left;
            height: 24px;
            margin-right: 8px;
            text-align: center;
            width: 24px;
            &:last-child {
                margin-right: 0;
            }
            &:hover {
                background-color: $theme-color-1;
                border-color: $theme-color-1;
                color: $color-white;
            }
            & i {
                display: block;
                font-size: 12px;
                line-height: 22px;
            }
        }
    }
}
/*-- Blog Comment List --*/
.comment-wrapper {
    margin-bottom: 50px;
    & h3 {
        color: $heading-color;
        font-size: 20px;
        line-height: 16px;
        margin: 0 0 30px;
        padding-bottom: 12px;
        position: relative;
    }
}
.comment-list {
    &.child {
        margin-left: 110px;
        @media #{$small-mobile}{
            margin-left: 0;
        }
    }
}
.sin-comment {
    border: 1px solid lighten( $text-color, 40 );
    margin-bottom: 20px;
    padding: 20px 50px 20px 20px;
    & .image {
        border: 1px solid lighten( $text-color, 40 );
        border-radius: 2px;
        margin-right: 20px;
        width: 70px;
        @media #{$large-mobile}{
            float: left;
            margin-bottom: 0;
        }
        @media #{$small-mobile}{
            display: block;
            float: none;
            margin-bottom: 15px;
        }
        & img {}
    }
    & .content {
        & h4 {
            color: $heading-color;
            display: block;
            float: left;
            font-size: 18px;
            line-height: 20px;
            margin: 0;
            font-weight: 400;
            @media #{$small-mobile}{
                float: left;
                width: 100%;
            }
        }
        & h5 {
            color: $heading-color;
            float: right;
            font-size: 14px;
            line-height: 20px;
            margin: 0;
            font-weight: 400;
            @media #{$small-mobile}{
                float: left;
                width: 100%;
            }
            & a {
                color: $theme-color-1;
                &:hover {
                    color: $theme-color-1;
                }
            }
        }
        & p {
            color: $text-color;
            display: block;
            float: left;
            font-weight: 300;
            line-height: 22px;
            margin-top: 5px;
            width: 100%;
        }
    }
}
/*-- Blog Comment Form --*/
.comment-form-wrapper {
    & h3 {
        color: $heading-color;
        font-size: 20px;
        line-height: 16px;
        margin: 0 0 30px;
        padding-bottom: 12px;
        position: relative;
    }
}
.comment-form {
    & form {
        margin-left: -15px;
        margin-right: -15px;
        & .input-box {
            display: block;
            float: left;
            margin-bottom: 20px;
            padding-left: 15px;
            padding-right: 15px;
            width: 100%;
            &.box-half {
                width: 50%;
                @media #{$small-mobile}{
                    width: 100%;
                }
            }
            & input[type="text"] {
                background-color: transparent;
                border: 1px solid #e1e1e1;
                color: $text-color;
                font-size: 13px;
                font-weight: 300;
                height: 38px;
                line-height: 24px;
                padding: 7px 15px;
                width: 100%;
            }
            & input[type="email"] {
                background-color: transparent;
                border: 1px solid #e1e1e1;
                color: $text-color;
                font-size: 13px;
                font-weight: 300;
                height: 38px;
                line-height: 24px;
                padding: 7px 15px;
                width: 100%;
            }
            & textarea {
                background-color: transparent;
                border: 1px solid #e1e1e1;
                color: $text-color;
                font-size: 13px;
                font-weight: 300;
                height: 85px;
                resize: none;
                line-height: 24px;
                padding: 7px 15px;
                width: 100%;
            }
            & input[type="submit"] {
                background-color: transparent;
                border: 1px solid #e1e1e1;
                color: #858585;
                font-size: 12px;
                font-weight: bold;
                height: 38px;
                letter-spacing: 1.5px;
                padding: 8px 36px;
                text-transform: uppercase;
                width: auto;
                &:hover {
                    background-color: $theme-color-1;
                    border-color: $theme-color-1;
                    color: $color-white;
                }
            }
        }
        & > .input-box:last-child {
            margin-bottom: 0;
        }
    }
}
/*-- Sidebar --*/
.single-sidebar {
    padding-left: 30px;
    @media #{$tablet-device}{
        padding-left: 0;
    }
    @media #{$large-mobile}{
        padding-left: 0;
    }
    & h4 {
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
}
/*-- Search Form --*/
#search-form {
    position: relative;
    margin: 0;
    & input {
        width: 100%;
        background-color: #F3F3F3;
        height: 40px;
        padding: 8px 50px 8px 15px;;
        border: none;
    }
    & button {
        width: 40px;
        height: 40px;
        background-color: #EBEBEB;
        border: none;
        text-align: center;
        position: absolute;
        right: 0;
        top: 0;
        & i {
            font-size: 20px;
            line-height: 42px;
        }
    }
}
/*-- Categories --*/
.categories {
    & li {
        display: block;
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
        & a {
            &:hover {
                color: $theme-color-1;
            }
        }
    }
}
/*-- Sidebar Post --*/
.sidebar-post {
    overflow: hidden;
    margin-bottom: 20px;
    &:last-child {
        margin-bottom: 0;
    }
    & .image {
        width: 80px;
        margin-right: 15px;
        & img {
            width: 100%;
        }
    }
    & .content {
        & a {
            font-size: 18px;
            color: $heading-color;
            margin-bottom: 5px;
            text-transform: capitalize;
            font-weight: 600;
            &:hover {
                color: $theme-color-1;
            }
        }
        & p {}
    }
}
/*-- Tag Cloud --*/
.tag-cloud {
    float: left;
    width: 100%;
    & a {
        display: block;
        float: left;
        font-size: 13px;
        border: 1px solid #f1f1f1;
        padding: 3px 10px;
        margin-right: 5px;
        margin-bottom: 5px;
        &:hover {
            color: $theme-color-1;
            border-color: $theme-color-1;
        }
    }
}