/*----------------------------------------*/
/*  1.  Theme default CSS
/*----------------------------------------*/
/*-- Font Family --*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Poppins:300,400,500,600,700|Raleway:100,200,300,400,500,600,700,800,900');
/*-- Common Style --*/
html, body {
  height: 100%;
}
body{
    line-height: 24px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    visibility: visible;
    font-family: $raleway;
    color: $text-color;
}
h1, h2, h3, h4, h5, h6 {
    color: $heading-color;
    font-weight: bold;
    margin-top: 0;
}
p:last-child {
    margin-bottom: 0;
}
a, button {
    color: inherit;
    display: inline-block;
    line-height: inherit;
    text-decoration: none;
}
a, i, button, img, input, span,
*:before, *:after {
  @include transition(all 0.3s ease 0s);
}
*:focus {
  outline:0px solid
}
a:focus {
  color: inherit;
  outline: medium none;
    transform: scale(1);
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul{
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
/*-- Common Class --*/
.fix {
  overflow:hidden
}
.clear{
  clear: both;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.overlay {
    position: relative;
    &::before {
        background: $theme-color-1;
        background: -moz-linear-gradient(left, $theme-color-1 0%, $theme-color-2 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, $theme-color-1), color-stop(100%, $theme-color-2));
        background: -webkit-linear-gradient(left, $theme-color-1 0%, $theme-color-2 100%);
        background: -o-linear-gradient(left, $theme-color-1 0%, $theme-color-2 100%);
        background: -ms-linear-gradient(left, $theme-color-1 0%, $theme-color-2 100%);
        background: linear-gradient(to right, $theme-color-1 0%, $theme-color-2 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$theme-color-1', endColorstr='$theme-color-2', GradientType=1 );
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        opacity: 0.8;
        content: "";
    }
}
.section {
    float: left;
    width: 100%;
}
.section.bg-gray {
    background-color: #f1f1f1;
}
.section.bg-white {
    background-color: $color-white;
}
/*-- Container Width For Mobile Device --*/
@media #{$large-mobile}{
    .container {
        width: 450px;
    }
}
@media #{$small-mobile}{
    .container {
        width: 300px;
    }
}
/*-- Margin Top --*/
@for $i from 1 through 30 {
    .mt-#{5 * $i}{margin-top: 5px * $i;}
}
/*-- Margin Bottom --*/
@for $i from 1 through 30 {
    .mb-#{5 * $i}{margin-bottom: 5px *$i;}
}
/*-- Padding Top --*/
@for $i from 1 through 30 {
    .pt-#{5 * $i}{padding-top: 5px *$i;}
}
/*-- Padding Bottom --*/
@for $i from 1 through 30 {
    .pb-#{5 * $i}{padding-bottom: 5px *$i;}
}
/*-- Input Placeholder --*/
input:-moz-placeholder, textarea:-moz-placeholder {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
/*-- Scroll Up --*/
#scrollUp {
    width: 40px;
    height: 40px;
    color: $color-white;
    right: 40px;
    bottom: 40px;
    text-align: center;
    overflow: hidden;
    background-color: $theme-color-2;
    @media #{$small-mobile}{
        display: none !important;
    }
    & i {
        display: block;
        line-height: 40px;
        font-size: 24px;
    }
    &:hover i {
        -webkit-animation-name: fadeInUp;
        animation-name: fadeInUp;
        -webkit-animation-duration:1s;
        animation-duration:1s;
        -webkit-animation-fill-mode:both;
        animation-fill-mode:both
    }
}
