/*-- Page Banner Area --*/
.page-banner-area {
    background-image: url(img/hero/1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    padding-top: 165px;
    @media #{$tablet-device}{
        padding-top: 135px;
    }
    @media #{$large-mobile}{
        padding-top: 115px;
    }
    @media #{$small-mobile}{
        padding-top: 70px;
    }
}
/*-- Page Banner --*/
.page-banner {
    padding: 80px 15px;
    @media #{$large-mobile}{
        padding: 40px 15px;
    }
    @media #{$small-mobile}{
        padding: 30px 15px;
    }
    & h1 {
        color: $color-white;
        font-size: 36px;
        font-weight: 800;
        text-transform: uppercase;
        @media #{$large-mobile}{
            font-size: 30px;
            margin-bottom: 5px;
        }
        @media #{$small-mobile}{
            font-size: 24px;
        }
    }
    & .breadcrumb {
        padding: 0;
        margin-bottom: 0;
        background-color: transparent;
        border-radius: 0;
        & li {
            & a {
                color: $color-white;
                font-size: 13px;
                text-transform: uppercase;
                font-weight: 600;
            }
        }
    }
}
/*-- Pagination --*/
.pagination {
    margin: 30px 0 0;
    & li {
        display: block;
        float: left;
        margin: 0 3px;
        & a {
            display: block;
            font-size: 14px;
            background-color: #f1f1f1;
            width: 32px;
            height: 32px;
            border: none;
            line-height: 32px;
            color: $text-color;
            padding: 0;
            border-radius: 0 !important;
            font-weight: 600;
            & i {
                font-size: 18px;
                line-height: 34px;
                display: block;
            }
        }
        &.active a, &:hover a {
            background-color: $theme-color-2;
            color: $color-white;
        }
    }
}
/*-- Form --*/
form {
    margin-left: -10px;
    margin-right: -10px;
}
.input-box {
    width: 100%;
    padding: 0 10px;
    margin-bottom: 20px;
    float: left;
    display: block;
    & input[type="text"] {
        display: block;
        width: 100%;
        border: 1px solid rgba($heading-color, 0.15);
        color: $text-color;
        background-color: transparent;
        height: 40px;
        line-height: 24px;
        padding: 7px 15px;
    }
    & input[type="email"] {
        display: block;
        width: 100%;
        border: 1px solid rgba($heading-color, 0.15);
        color: $text-color;
        background-color: transparent;
        height: 40px;
        line-height: 24px;
        padding: 7px 15px;
    }
    & textarea {
        display: block;
        width: 100%;
        border: 1px solid rgba($heading-color, 0.15);
        color: $text-color;
        background-color: transparent;
        height: 150px;
        line-height: 24px;
        padding: 7px 15px;
    }
    & input[type="submit"] {
        display: block;
        border: 1px solid rgba($heading-color, 0.15);
        color: $text-color;
        background-color: transparent;
        height: 40px;
        line-height: 24px;
        font-weight: 500;
        letter-spacing: 1px;
        padding: 7px 45px;
        text-transform: uppercase;
        &:hover {
            background-color: $theme-color-1;
            border-color: $theme-color-1;
            color: $color-white;
        }
    }
}
.submit-box {
    width: auto;
    margin-bottom: 0;
}
.input-box-2 {
    width: 100%;
    float: left;
    display: block;
    & .input-box {
        width: 50%;
        @media #{$small-mobile}{
            width: 100%;
        }
    }
}