/*----------------------------------------*/
/*  7.  Feature CSS
/*----------------------------------------*/
.feature-area {
    background-image: url(img/feature/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    &::before {
        background-color: $theme-color-2;
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        top: 0;
        width: 59.8%;
        opacity: 0.9;
        @media #{$laptop-device}{
            width: 63.5%;
        }
        @media #{$desktop-device}{
            width: 65%;
        }
        @media #{$tablet-device}{
            width: 100%;
        }
        @media #{$large-mobile}{
            width: 100%;
        }
    }
}
/*-- Feature Wrapper --*/
.feature-wrapper {
    & > h2 {
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 8px;
        color: $color-white;
        @media #{$small-mobile}{
            font-size: 24px;
        }
    }
    & > p {
        font-size: 15px;
        line-height: 23px;
        margin-bottom: 45px;
        color: darken($color-white, 8);
        font-weight: 500;
    }
}
/*-- Single Feature --*/
.single-feature {
    margin-bottom: 60px;
    padding-right: 60px;
        @media #{$tablet-device}{
            padding-right: 30px;
        }
        @media #{$small-mobile}{
            padding-right: 15px;
        }
    & img {
        margin-bottom: 10px;
    }
    & h4 {
        font-family: $poppins;
        font-size: 20px;
        line-height: 26px;
        color: $color-white;
        font-weight: 500;
        position: relative;
        padding-bottom: 11px;
        margin-bottom: 17px;
        &::before, &::after {
            position: absolute;
            left: 0;
            bottom: 0;
            content: "";
            background-color: $color-white;
            height: 1px;
            width: 38px;
        }
        &::after {
            bottom: 4px;
            width: 56px;
        }
    }
    & p {
        font-size: 13px;
        font-family: $poppins;
        line-height: 23px;
        color: $color-white;
        font-weight: 400;
    }
}