/*----------------------------------------*/
/*  6.  Floor Plan CSS
/*----------------------------------------*/
.floor-plan-area {}
/*-- Floor Plan Content --*/
.floor-plan-content {
    padding-right: 100px;
    @media #{$desktop-device}{
        padding-right: 15px;
    }
    @media #{$tablet-device}{
        padding-right: 15px;
    }
    @media #{$large-mobile}{
        padding-right: 15px;
    }
    & h2 {
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 800;
        line-height: 22px;
        @media #{$small-mobile}{
            font-size: 24px;
            line-height: 18px;
        }
        & span {
            color: $theme-color-1;
        }
    }
    & p {
        font-size: 16px;
        line-height: 26px;
        color: lighten($text-color, 5);
        margin-bottom: 20px;
    }
    & ol {
        padding-left: 25px;
        list-style: decimal;
        clear: both;
        margin-bottom: 27px;
        & li {
            font-size: 15px;
            line-height: 30px;
            color: lighten($text-color, 5);
        }
    }
    & a {
            text-transform: uppercase;
            color: $color-white;
            height: 47px;
            font-size: 15px;
            font-weight: 700;
            letter-spacing: 0.2px;
            padding: 13px 35px;
            border-radius: 5px;
            line-height: 21px;
            box-shadow: 0 0 20px rgba(#181818, 0.3);
            background: $theme-color-2;
            background: -moz-linear-gradient(left, $theme-color-2 0%, $theme-color-1 51%, $theme-color-2 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, $theme-color-2), color-stop(51%, $theme-color-1), color-stop(100%, $theme-color-2));
            background: -webkit-linear-gradient(left, $theme-color-2 0%, $theme-color-1 51%, $theme-color-2 100%);
            background: -o-linear-gradient(left, $theme-color-2 0%, $theme-color-1 51%, $theme-color-2 100%);
            background: -ms-linear-gradient(left, $theme-color-2 0%, $theme-color-1 51%, $theme-color-2 100%);
            background: linear-gradient(to right, $theme-color-2 0%, $theme-color-1 51%, $theme-color-2 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$theme-color-2', endColorstr='$theme-color-2', GradientType=1 );
            background-size: 200% auto;
            @media #{$large-mobile}{
                font-size: 13px;
                height: 42px;
                padding: 10px 25px;
            }
            @media #{$large-mobile}{
                font-size: 10px;
                height: 32px;
                padding: 6px 15px;
            }
            &:hover {
                background-position: right center;
            }
        }
}
/*-- No Gradient Background for IE --*/
.no-cssgradients {
    & .floor-plan-content  {
        & a {
            filter: none;
            &:hover {
                background-color: $theme-color-1;
            }
        }
    }
}
/*-- Floor Plan Image --*/
.floor-plan-image {
    @media #{$tablet-device}{
        margin-bottom: 30px;
    }
    @media #{$large-mobile}{
        margin-bottom: 30px;
    }
    & img {
        width: 100%;
    }
}