/*----------------------------------------*/
/*  14.  Footer Area
/*----------------------------------------*/
.footer-area {
    background-color: #f6f6f6;
    padding: 17px 0 13px;
}
/*-- Copyright --*/
.copyright {
    @media #{$large-mobile}{
        text-align: center;
    }
    &  p {
        font-size: 12px;
        color: lighten($text-color, 12);
        line-height: 25px;
        font-family: $poppins;
        font-weight: 300;
    }
}
/*-- Author Credit --*/
.author-credit {
    @media #{$large-mobile}{
        text-align: center;
    }
    &  p {
        font-size: 12px;
        color: lighten($text-color, 12);
        line-height: 25px;
        font-family: $poppins;
        font-weight: 300;
        & a {
            &:hover {
                color: $theme-color-2;
            }
        }
        & i {
            color: $theme-color-2;
        }
    }
}