/*----------------------------------------*/
/*  8.  Gallery Area
/*----------------------------------------*/
.gallery-area {}
/*-- Gallery Section Title --*/
.gallery-section-title {
    & p {
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 12px;
        margin-bottom: 15px;
    }
    & h2 {
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 800;
        line-height: 22px;
        margin-bottom: 0;
        @media #{$small-mobile}{
            font-size: 24px;
            line-height: 18px;
        }
        & span {
            color: $theme-color-1;
        }
    }
}

.row-8 {
    margin-left: -8px;
    margin-right: -8px;
}
/*-- Gallery Item --*/
.gallery-item {
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 16px;
    & .image {
        position: relative;
        display: block;
        width: 100%;
        &::before {
            opacity: 0;
            background-color: $theme-color-2;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            content: "";
        }
        &:hover::before {
            opacity: 0.8;
        }
        &::after {
            content: "\f382";
            font-family: "Material-Design-Iconic-Font";
            width: 50px;
            height: 50px;
            text-align: center;
            position: absolute;
            background-color: $color-white;
            left: 50%;
            top: 50%;
            margin-left: -25px;
            z-index: 9;
            border-radius: 50px;
            line-height: 50px;
            font-size: 24px;
            color: $theme-color-2;
            opacity: 0;
        }
        &:hover::after {
            opacity: 1;
            margin-top: -25px;
        }
        & img {
            width: 100%;
        }
    }
}