/*----------------------------------------*/
/*  2.  Header Area
/*----------------------------------------*/
.header-area {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9999;
}

/*-- Header Top --*/
.header-top {
    width: 100%;
    display: block;
    float: left;
    background-color: #f5f5f5;
    padding: 10px 0;
    @media #{$small-mobile}{
        display: none;
    }
}
/*-- Header Info --*/
.header-info {
    & p {
        font-size: 13px;
        line-height: 25px;
        color: $text-color;
        float: left;
        font-family: $poppins;
        font-weight: 400;
        margin-right: 30px;
        margin-bottom: 0;
        & span {
            color: $theme-color-1;
        }
    }
}
/*-- Header Social --*/
.header-social {
    & a {
        display: inline-block;
        margin-left: 20px;
        color: $text-color;
        vertical-align: top;
        &:hover {
            color: $theme-color-1;
        }
        & i {
            font-size: 14px;
            line-height: 25px;
        }
    }
}

/*-- Header Bottom --*/
.header-bottom {
    position: relative;
    float: left;
    display: block;
    width: 100%;
    padding: 30px 0;
    background-color: $color-white;
    z-index: 99999;
    @media #{$tablet-device}{
        padding: 15px 0;
    }
    @media #{$large-mobile}{
        padding: 5px 0;
    }
    &.stick {
        position: fixed;
        top: 0;
        padding: 10px 0;
        box-shadow: 0 0 3px rgba(#000, 0.15);
        -webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
        animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
        & .logo {
            width: 130px;
            margin: 8px 0;
        }
    }
}
/*-- Animation For Stick Menu --*/
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transform: none;
    transform: none;
  }
}
/*-- Navbar Header --*/
.navbar-header {
    /*-- Logo --*/
    & .logo {
        height: auto;
        padding: 0;
        & img {
            width: 100%;
        }
        @media #{$tablet-device}{
            width: 130px;
            margin: 8px 0;
        }
        @media #{$large-mobile}{
            width: 110px;
            margin: 12px 0 11px;
        }
    }
}
/*-- Menu Toggle --*/
.menu-toggle {
    padding: 0;
    margin: 9px 0;
    i {
        font-size: 30px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        width: 40px;
        opacity: 1;
        color: $theme-color-2;
        &.open {
            display: none;
        }
        &.close {
            display: block;
        }
    }
    &.collapsed {
        & i {
            &.open {
                display: block;
            }
            &.close {
                display: none;
            }
        }
    }
}
/*-- Menu --*/
.main-menu {
    margin: 15px 0;
    padding: 0;
    @media #{$large-mobile}{
        margin: 0;
        float: left;
        width: 100%;
    }
    & nav {
        @media #{$large-mobile}{
            padding: 15px 0;
        }
        & ul {
            & li {
                display: block;
                float: left;
                margin-left: 40px;
                @media #{$tablet-device}{
                    margin-left: 25px;
                }
                @media #{$large-mobile}{
                    margin-left: 0;
                    float: none;
                }
                &:first-child {
                    margin-left: 0;
                }
                & a {
                    display: block;
                    text-transform: uppercase;
                    font-size: 14px;
                    color: $heading-color;
                    line-height: 30px;
                    font-weight: 700;
                    font-family: $opensans;
                    @media #{$large-mobile}{
                        display: inline-block;
                    }
                    &:hover {
                        color: $theme-color-1;
                    }
                }
                &.active a {
                    color: $theme-color-1;
                }
            }
        }
    }
}
/*-- For IE --*/
@media screen and (min-width:0\0) and (min-resolution: +72dpi) {
    .main-menu nav ul li a:hover, .main-menu nav ul li.active a {
        filter: none;
        background-color: transparent;
        background-image: none;
        color: #71b100;
    }
}