/*----------------------------------------*/
/*  3.  Hero CSS
/*----------------------------------------*/
.hero-area {
    padding-top: 165px;
    @media #{$tablet-device}{
        padding-top: 135px;
    }
    @media #{$large-mobile}{
        padding-top: 115px;
    }
    @media #{$small-mobile}{
        padding-top: 70px;
    }
}
/*-- Hero Slider --*/
.hero-slider {}
/*-- Hero Slide Item --*/
.hero-item {
    position: relative;
    & .container {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        @include transform(translateY(-50%));
    }
    & img {
        width: 100%;
    }
    & .hero-content {
        z-index: 1;
        &::before {
            border: 50px solid rgba($theme-color-1, 0.5);
            content: "";
            height: 409px;
            left: 15px;
            position: absolute;
            top: 50%;
            margin-top: -204px;
            width: 446px;
            -webkit-animation-duration:1s;
            animation-duration:1s;
            -webkit-animation-fill-mode:both;
            animation-fill-mode:both;
            -webkit-animation-name: fadeOutRight;
            animation-name: fadeOutRight;
            z-index: -1;
            @media #{$laptop-device}{
                width: 400px;
                height: 380px;
                margin-top: -190px;
            }
            @media #{$desktop-device}{
                border: 40px solid rgba(113, 177, 0, 0.5);
                height: 300px;
                margin-top: -150px;
                width: 320px;
            }
            @media #{$tablet-device}{
                border: 35px solid rgba(113, 177, 0, 0.5);
                height: 260px;
                margin-top: -130px;
                width: 260px;
            }
            @media #{$large-mobile}{
                border: 25px solid rgba(113, 177, 0, 0.5);
                height: 170px;
                margin-top: -85px;
                width: 170px;
            }
            @media #{$small-mobile}{
                border: 15px solid rgba(113, 177, 0, 0.5);
                height: 120px;
                margin-top: -60px;
                width: 120px;
            }
        }
        & * {
            -webkit-animation-duration:1s;
            animation-duration:1s;
            -webkit-animation-fill-mode:both;
            animation-fill-mode:both;
            -webkit-animation-name: fadeOutDown;
            animation-name: fadeOutDown;
        }
        & h2 {
            text-transform: uppercase;
            color: $color-white;
            font-weight: 800;
            font-size: 50px;
            line-height: 38px;
            margin-bottom: 24px;
            @media #{$desktop-device}{
                font-size: 40px;
                line-height: 29px;
                margin-bottom: 20px;
            }
            @media #{$tablet-device}{
                font-size: 30px;
                line-height: 22px;
                margin-bottom: 15px;
            }
            @media #{$large-mobile}{
                font-size: 24px;
                line-height: 17px;
                margin-bottom: 10px;
            }
            @media #{$small-mobile}{
                font-size: 14px;
                line-height: 12px;
                margin-bottom: 7px;
            }
        }
        & h1 {
            text-transform: uppercase;
            color: $color-white;
            font-weight: 900;
            line-height: 66px;
            font-size: 90px;
            margin-bottom: 45px;
            @media #{$desktop-device}{
                font-size: 70px;
                line-height: 50px;
                margin-bottom: 30px;
            }
            @media #{$tablet-device}{
                font-size: 56px;
                line-height: 42px;
                margin-bottom: 25px;
            }
            @media #{$large-mobile}{
                font-size: 36px;
                line-height: 26px;
                margin-bottom: 15px;
            }
            @media #{$small-mobile}{
                font-size: 24px;
                line-height: 18px;
                margin-bottom: 10px;
            }
        }
        & a {
            text-transform: uppercase;
            color: $color-white;
            height: 52px;
            font-size: 15px;
            font-weight: 700;
            letter-spacing: 0.2px;
            padding: 15px 40px;
            border-radius: 5px;
            line-height: 22px;
            box-shadow: 0 0 20px rgba(#181818, 0.3);
            background: $theme-color-2;
            background: -moz-linear-gradient(left, $theme-color-2 0%, $theme-color-1 51%, $theme-color-2 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, $theme-color-2), color-stop(51%, $theme-color-1), color-stop(100%, $theme-color-2));
            background: -webkit-linear-gradient(left, $theme-color-2 0%, $theme-color-1 51%, $theme-color-2 100%);
            background: -o-linear-gradient(left, $theme-color-2 0%, $theme-color-1 51%, $theme-color-2 100%);
            background: -ms-linear-gradient(left, $theme-color-2 0%, $theme-color-1 51%, $theme-color-2 100%);
            background: linear-gradient(to right, $theme-color-2 0%, $theme-color-1 51%, $theme-color-2 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$theme-color-2', endColorstr='$theme-color-2', GradientType=1 );
            background-size: 200% auto;
            @media #{$desktop-device}{
                font-size: 14px;
                height: 46px;
                padding: 12px 25px;
            }
            @media #{$tablet-device}{
                font-size: 13px;
                height: 42px;
                padding: 10px 25px;
            }
            @media #{$large-mobile}{
                font-size: 10px;
                height: 32px;
                padding: 5px 12px;
            }
            @media #{$small-mobile}{
                font-size: 8px;
                height: 26px;
                padding: 2px 12px;
            }
            &:hover {
                background-position: right center;
            }
            
        }
    }
    &.slick-active {
        & .hero-content {
            &::before {
                -webkit-animation-name: fadeInRight;
                animation-name: fadeInRight;
                -webkit-animation-delay: 0.6s;
                animation-delay: 0.6s;
            }
            & * {
                -webkit-animation-name: fadeInUp;
                animation-name: fadeInUp;
            }
            & h2 {
                -webkit-animation-delay: 1.3s;
                animation-delay: 1.3s;
            }
            & h1 {
                -webkit-animation-delay: 1.7s;
                animation-delay: 1.7s;
            }
            & a {
                -webkit-animation-delay: 2.1s;
                animation-delay: 2.1s;
            }
        }
    }
}
/*-- No Gradient Background for IE --*/
.no-cssgradients {
    & .hero-content {
        & a {
            filter: none;
            &:hover {
                background-color: $color-white;
                color: $theme-color-1;
            }
        }
    }
}
/*-- Hero SLider Pagination --*/
.hero-slider {
    .slick-dots {
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 25px;
        z-index: 999;
        & li {
            display: inline-block;
            width: 60px;
            height: 60px;
            margin: 8px 7px;
            @include transition(all 0.3s ease 0s);
            @media #{$desktop-device}{
                width: 46px;
                height: 46px;
            }
            @media #{$tablet-device}{
                width: 36px;
                height: 36px;
            }
            & button {
                border: none;
                padding: 0;
                border-radius: 50%;
                overflow: hidden;
                height: 100%;
                &::before {
                    background: $theme-color-1;
                    border-radius: 50%;
                    overflow: hidden;
                }
                & img {
                    width: 100%;
                }
            }
            &.slick-active {
                width: 76px;
                height: 76px;
                margin: 0 7px;
                @media #{$desktop-device}{
                    width: 56px;
                    height: 56px;
                }
                @media #{$tablet-device}{
                    width: 46px;
                    height: 46px;
                }
                & button {
                    &::before {
                        opacity: 0;
                    }
                }
            }
        }
    }
}
