/*----------------------------------------*/
/*  13.  Newsletter Area
/*----------------------------------------*/
.newsletter-area {}
/*-- Newsletter Section Title --*/
.newsletter-section-title {
    & h2 {
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 800;
        line-height: 22px;
        margin-bottom: 0;
        @media #{$small-mobile}{
            font-size: 20px;
            line-height: 16px;
        }
        & span {
            color: $theme-color-1;
        }
    }
}
/*-- Subscribe Form --*/
#subscribe-form {
    box-shadow: 0 0 4px rgba(#000, 0.15);
    display: inline-block;
    margin-bottom: 22px;
    vertical-align: top;
    & input[type="email"] {
        font-size: 14px;
        font-family: $poppins;
        color: lighten($text-color, 12);
        padding: 10px 21px;
        line-height: 25px;
        height: 45px;
        float: left;
        width: 376px;
        border: none;
        @media #{$large-mobile}{
            width: 275px;
        }
        @media #{$small-mobile}{
            text-align: center;
        }
    }
    & input[type="submit"] {
        box-shadow: 1px 0 4px rgba(#000, 0.15);
        height: 45px;
        padding: 10px 28px;
        line-height: 25px;
        background-color: $theme-color-2;
        color: $color-white;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        font-family: $poppins;
        border: none;
        @media #{$small-mobile}{
            width: 100%;
        }
        &:hover {
            background-color: lighten($theme-color-2, 10);
        }
    }
}
/*-- Social --*/
.social {
    & a {
        display: inline-block;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin: 0 5px;
        &:hover {
            color: $color-white;
            background-color:  $theme-color-1;
        }
        & i {
            font-size: 14px;
            line-height: 32px;
        }
    }
}