/*----------------------------------------*/
/*  9.  Testimonial Area
/*----------------------------------------*/
.testimonial-area {
    background-image: url(img/testimonial/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    &::before {
        background-color: $theme-color-2;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        content: "";
        opacity: 0.95;
    }
}
/*-- Testimonial Section Title --*/
.testimonial-section-title {
    & h2 {
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 800;
        margin-bottom: 18px;
        color: $color-white;
        margin-bottom: 0;
        @media #{$small-mobile}{
            font-size: 24px;
            line-height: 18px;
        }
    }
}
/*-- Testimonial Slider --*/
.testimonial-slider {}
/*-- Testimonial Item --*/
.testimonial-item {
    & p {
        color: $color-white;
        font-size: 18px;
        line-height: 28px;
        font-weight: 500;
    }
    & i {
        color: $color-white;
        font-size: 50px;
    }
    & h4 {
        color: $color-white;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 0;
    }
}