// Font Family
$raleway: 'Raleway', sans-serif;
$opensans: 'Open Sans', sans-serif;
$poppins: 'Poppins', sans-serif;


// Colors

//Theme Color
$theme-color-1: #71b100;
$theme-color-2: #0071b0;
//Heading Color
$heading-color: #4a4a4a;
//Text Color
$color-white: #fff;
$text-color: #757575;
//Responsive Variables
$large-device : 'only screen and (min-width: 1600px)';
$laptop-device : 'only screen and (min-width: 1200px) and (max-width: 1599px)';
$desktop-device : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$tablet-device:'only screen and (min-width: 768px) and (max-width: 991px)';
$large-mobile:'only screen and (max-width: 767px)';
$small-mobile: 'only screen and (max-width: 479px)';
