#data-table-messages, #data-table-messages th
{
    font-size: 10px!important;
}

.addresses-link
{
    color:#3b6e7f;
}
.radio-inline {
    padding-left: 0px;
}
.input-group {
    margin-bottom: 15px;
}