.chartdiv {
    width	: 100%;
    height	: 500px;
}
.chart-search-data{
    margin-top: 25px;
}

.total-register-box
{
    margin-top:0px
}

.total-register-box span
{
    font-weight: bold;
    margin-right: 3px;
}

.total-register-box em
{
    font-size: 12px
}
