/*.project-contact-form {*/
    /*top: 0; !* required as well.*!*/
    /*!*position: fixed;*!*/
    /*!*top: 10px;*!*/
    /*width: 263px;*/
    /*margin-right: 104px;*/
    /*!*padding-bottom: 48px;*!*/


/*}*/

.project-contact-box {
    background-color: #f4f4f4;
    padding: 15px 10px 5px 10px;
    border-radius: 4px;
}

.project-seller-detail {
    clear: both;
    /*border-bottom: 1px solid #cdcdcd;*/
}
#form-real-state-contact input
{
    /*margin-bottom: 7px;*/
}
#form-real-state-contact select
{
    /*margin-bottom: 7px;*/
}
.map-fancy-framework
{
    background:#fff;
    padding:15px;
    box-shadow: 0 0 20px #999;
    border-radius:2px;
}
#form-real-state-contact input,#form-real-state-contact select
{
    width: 100%!important;
    height: 35px!important;
    margin-bottom: 7px;
    font-size: 13px!important;
    padding: 5px 10px!important;
    border: solid 1px #dedede!important;
}
#form-real-state-contact textarea, #form-coment textarea
{
    width: 100%;
    font-size: 13px;
    padding: 5px 10px;
    border: solid 1px #dedede;
    height: 130px
}
#form-real-state-contact .button, #form-coment .button
{
    /*width: auto !important;*/
    height: auto !important;
}
.parsley-errors-list
{
    color: #d9534f;
    font-weight: bold;
    font-size: 12px;
}
.paginations li
{
    list-style: none;
    display: inline;
}
.paginations li.active a
{
    background-color: #00adee!important;
}
.paginations .active
{
    background-color: transparent!important;
}
.paginations li:hover
{
    background-color: transparent!important;
}