.map-fancy-framework{
    background:#fff;
    padding:15px;
    box-shadow: 0 0 20px #999;
    border-radius:2px;
}
#content-send-to-whatsapp
{
    display:none;
}
.icons_detail
{
    background-color:#cceffc!important;
}
.icons_detail ul li
{
    color:#777!important;
}
.property-detail-category-and-transaction
{
    color: #777;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: -3px;
    font-weight: 600;
}
.image_detail h2
{
    color: #fff;
}
.image_detail .price
{
    line-height: 0.5;
}
@media (max-width: 375px){

    .image_detail
    {
        color: #777;
        text-align: center;
    }
    .image_detail h2
    {
        color: #777;
    }
    .image_detail .price
    {
        background-color: #cceffc;
        border-bottom:2px solid #dddddd
    }
    .icons_detail
    {
        text-align:center
    }
    #content-send-to-whatsapp
    {
        display: unset;
    }
    #send-to-whatsapp
    {
        width: 10%!important;
        height: 20px!important;
        margin-bottom: 20px;
        font-size: 13px;
        padding: 5px 10px!important;
        border: solid 1px #dedede;
    }
    .mobile-full-width
    {
        padding: 20px 0px 40px 0px;
    }
    .mobile-full-width .publication-thumbnail
    {
        padding-right: 0px;
        padding-left: 0px;
    }
    .mobile-full-width .properties-carousel {
        padding: 30px 0px 10px 0px !important;
    }
    .property-detail-primary-info
    {
        padding-left: 10px;
    }
    #content-gridalicious
    {
        padding-left: 10px;
        padding-right: 10px;
    }
}