.map-fancy-framework
{
    background:#fff;
    padding:15px;
    box-shadow: 0 0 20px #999;
    border-radius:2px;
}
#form-contact input,#form-contact select
{
    width: 100%!important;
    height: 35px!important;
    margin-top: 20px!important;
    font-size: 13px!important;
    padding: 5px 10px!important;
    border: solid 1px #dedede!important;
}
#form-contact textarea, #form-coment textarea
{
    width: 100%;
    font-size: 13px;
    padding: 5px 10px;
    margin-top: 20px!important;
    border: solid 1px #dedede;
    height: 130px
}
#form-contact .button, #form-coment .button
{
    width: auto !important;
    height: auto !important;
}
.parsley-errors-list
{
    color: #d9534f;
    font-weight: bold;
    font-size: 12px;
}