.payment-handler .swal2-cancel
{
    color: #545454;
}
.md-checkbox label>.check
{
    top:-8px;
    width: 18px;
    height: 31px;
}
.md-checkbox label>.box
{
    height: 26px;
    width: 26px;
}
.bg-toque-el-timbre
{
    background: #1AB5E9!important;
}
.border-top-toque-el-timbre
{
    border-top-color: #1AB5E9!important;
}
.pricing-content-1 .price-table-pricing > h3
{
    font-size: 40px;
}
.pricing-content-1 .price-table-head {
    padding: 15px 0;
}
.pricing-content-1 .price-table-pricing > h3 > .price-sign
{
    font-size: 18px;
}
.page-header.navbar.navbar-fixed-top {
    z-index: 999;
}
.total-to-purchase
{
    margin-top: 0px;
    margin-bottom: 8px;
    display: block;
    font-size: 30px;
    font-weight: 600;
    color: #3e4f5e;
    text-align: right;
}
.payment-handler .portlet.light
{
    padding:0px;
}
.payment-handler .form-body
{
    /*padding: 0px;*/
}
.payment-handler .nav.nav-pills
{
    padding:0px;
}
.payment-handler .nav.nav-pills a
{
    padding-top:0px;
    padding-bottom:0px;
}
.payment-handler .progress
{
    margin-bottom: 20px;
    height: 5px;
}
.payment-handler
{
    padding: 0px 0px 15px 0px;
}
.payment-handler .price-ribbon
{
    padding: 3px 20px 3px 15px;
    font-size: 11px;
}
.payment-handler .portlet
{
    margin-bottom: 0px;
}
.payment-handler .form .form-section, .payment-handler .portlet-form .form-section {
    margin: 10px 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #e7ecf1;
}

.payment-handler .form-group
{
    margin-bottom: 10px;
}