/*.project-contact-form {*/
    /*top: 0; !* required as well.*!*/
    /*!*position: fixed;*!*/
    /*!*top: 10px;*!*/
    /*width: 263px;*/
    /*margin-right: 104px;*/
    /*!*padding-bottom: 48px;*!*/


/*}*/

.project-contact-box {
    background-color: #f4f4f4;
    padding: 15px 10px 5px 10px;
    border-radius: 4px;
}

.project-seller-detail {
    clear: both;
    border-bottom: 1px solid #cdcdcd;
}
#form input
{
    margin-bottom: 7px;
}
#form select
{
    margin-bottom: 7px;
}