.parsley-errors-list.filled {
    color: #ed6b75;
    font-weight: bold;
}
.map-fancy-framework{
    background:#fff;
    padding:15px;
    box-shadow: 0 0 20px #999;
    border-radius:2px;
}
/*.list-group {*/
    /*min-height: 30px;*/
    /*background-color: #ff0808*/
/*}*/