.grecaptcha-badge
{
    display: none;
}
.account-box .logo img {
    max-width: 280px;
    width: 100%;
    left: 0;
    top: -8px;
    position: absolute;
}
.account-box .login-error-message
{
    color: #d20000;
}
.account-box .login-error-message p
{
    margin: 0 0 0px 0;
    padding: 0;
    line-height: 15px;
}
.account-box .login-success-message
{
    color: #00adee;
}
.account-box .parsley-errors-list.filled
{
    color: #fd0000;
    font-weight: bold;
}
.modal-body
{
    background-color: #eceded;
}
.modal{
    z-index: 9999;
}
.bootbox.modal.fade.in{
    background-color: rgba(0, 174, 239, 0.31);
}

.account-box
{
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    -o-border-radius: 2px;
    z-index: 3;
    font-size: 13px !important;
    background-color: #ECEDED;
    padding: 4px 20px 20px 20px;
}
.account-box input {
    height: 35px;
}
.account-box .form-group{
    margin-bottom: 9px;
}
.account-box .input-group
{
    margin-top: 9px;
}
.account-box .input-group-addon {
    color: #fff;
    background-color: #00adee;
}
.account-box .btn{
    width: 100%;
}
.account-box .btn:focus{
    color:#fff;
}
.account-box .logo
{
    width: 150px;
    height: 20px;
    text-align: center;
    margin: 0px 0px 27px 32px;
    background-position: 0px -4px;
    position: relative;
}

.forgotLnk
{
    margin-top: 10px;
    display: block;
}

.purple-bg
{
    margin-top: 9px;
    background-color: #00adee;
    color: #fff;
}
.signin-signup-switch-button
{
    background-color: #535555;
    color: #fff;
}
.or-box
{
    position: relative;
    border-top: 2px solid #00adee;
    padding-top: 15px;
    margin-top:20px;
}
.or
{
    color: #666666;
    background-color: #eceded;
    position: absolute;
    text-align: center;
    top: -13px;
    width: 40px;
    left: 90px;
}
.account-box .btn:hover
{
    color: #fff;
}
.btn-facebook
{
    background-color: #3F639E;
    color: #fff;
    font-weight:bold;
}
.btn-google
{
    background-color: #454545;
    color: #fff;
    font-weight:bold;
}
