#data-table-messages, #data-table-messages th
{
    font-size: 10px!important;
}

.addresses-link
{
    color:#3b6e7f;
}
#extra-request-data{
    margin-bottom: 20px;
}
.radio-inline{
    padding-left: 0px;
}
.checkbox-inline{
    padding-left: 0px;
}
.input-group
{
    margin-bottom: 15px;
}
.property-name-as-link
{
    color:#333333;
}