#data-table, #data-table th
{
    font-size: 10px!important;
}
#extra-request-data{
    margin-bottom: 20px;
}
.radio-inline{
    padding-left: 0px;
}
.checkbox-inline{
    padding-left: 0px;
}
.input-group
{
    margin-bottom: 15px;
}
.property-name-as-link
{
    color:#333333;
}