.agent-contact-form form .input-box textarea
{
    background-color: #fff;
    font-size:16px;
}
.agent-contact-form form .input-box input {
    background-color: #fff;
}
.project-contact-message-modal-form select{
    width: 100%;
    height: 36px;
    padding: 5px 14px;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    font-weight: bold;
}
.modal-project-contact-message .bootbox-close-button.close
{
    border: solid 2px;
    border-radius: 100%;
    width: 25px;
    padding: 0px 18px 2px 9px;
}
.modal-form-contact-send-message
{
    width: 100%;
    background-color: #0071b0;
    color: #fff;
    font-weight: bold;
}
#send-to-whatsapp
{
    margin-left:12px;
    display: none;
}
.pb-120 {
    padding-bottom: 10px;
}
.pt-120 {
    padding-top: 40px;
}
.mb-80 {
    margin-bottom: 40px;
}
.pb-105 {
    padding-bottom: 20px;
}
.area-features{
    border: 1px solid #00aeef;
    float: none;
    margin-top: 0px;
}
.area-features h2 {
    font-size: 20px!important;
    margin-bottom: 0px;
    color: #00acee!important;
    margin-top: 0px;
    float: none;
}

.area-features .single-funfact {
    width: 33%;
    padding: 13px 15px 13px;
}

.area-features.funfact .single-funfact + .single-funfact {
    border-left: 1px solid #00aeef;
}

.main-menu nav ul li.active a {
    color: #00aeef;
}

.main-menu nav ul li a:hover {
    color: #00acee;
}

.title-span{
    color: #00acee!important;
}
.hero-item .hero-content::before {
    border: 50px solid rgba(0, 113, 175, 0.52);
}
.map-fancy-framework{
    background:#fff;
    padding: 1px 0px 0px 0px;
    box-shadow: 0 0 50px #797979;
    border-radius:2px;
}
.main-menu nav ul li {
    padding: 5px;
}
.agent-content h2 {
    line-height: 25px;
}
.parsley-errors-list
{
    color: #d9534f;
    font-weight: bold;
    font-size: 12px;
}

.hero-slider.desktop-version
{
    display: block;
}

.hero-slider.mobile-version
{
    display: none;
}
.fixed-buttons-box
{
    display: none;
}
.navbar-toque-el-timbre-link
{
    display: none!important;
}
.owl-theme .owl-controls .owl-nav div
{
    padding: 0px 11px;
    background: #00acee;
}
@media (max-width: 375px)
{
    .contact-section,.navbar-contact-button
    {
        display: none!important;
    }
    .navbar-toque-el-timbre-link
    {
        display: block!important;
    }
    .hero-slider.desktop-version
    {
        display: none;
    }

    .hero-slider.mobile-version
    {
        display: block;
    }
    .hero-slider.mobile-version h2
    {
        font-size: 45px;
        line-height: 45px;
        margin-bottom: 7px;
        text-align: center;
    }
    .hero-slider.mobile-version h1
    {
        font-size: 45px;
        line-height: 47px;
        margin-bottom: 10px;
    }
    .hero-slider.mobile-version .hero-item .hero-content::before
    {
        /*border: 15px solid rgba(113, 177, 0, 0.5);*/
        height: 288px;
        margin-top: -150px;
        width: 80%;
    }
    .hero-item .container {
        top: 44%;
    }
    .fixed-buttons-box
    {
        display: block;
        position: fixed;
        box-sizing: border-box;
        bottom: 0;
        background: #00acee;
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        /*padding: 12px;*/
        box-shadow: 0 -6px 4px 0 rgba(0, 0, 0, 0.35);
        font-size: 17px;
        font-weight: bold;
        z-index: 99;
        color: #fff;
        text-align: center;
    }
    .fixed-buttons-box [class^="col-"]
    {
        padding-left: 0px;
        padding-right: 0px;
    }
    #whatsapp-click-button{
        background-color: #00E676
    }
    .fixed-buttons-box a
    {
        padding: 12px;
    }
    #footer-area
    {
        margin-bottom: 40px;
    }

    #location-area .container
    {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }

    #location-area .row
    {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }

    #location-area .col-md-8
    {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }

    #location-area .col-xs-12
    {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }

    #gallery-area .container
    {
        margin-left:0px;
        margin-right:0px;
        padding-left: 0px;
        padding-right: 0px;
        width:100%
    }
    #gallery-area .col-xs-12
    {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }
    .owl-theme .owl-controls .owl-nav div
    {
        padding: 2px 30px;
    }
    #send-to-whatsapp
    {
        margin-left:12px;
        display: unset;
    }
}