#layout, .layout-wide 
{
    overflow: visible;
}
.filter_horizontal
{
    /* border-bottom: solid 1px #dedede; */
    padding: 0px 0 0px 0;
    width: 100%;
    background-color: #5F6062!important;
}

.box-sale-property
{
    color: #fff;
    text-align: center;
    margin: 9px 0 0px 0;
    line-height: 40px
}

.publish-it-now-text
{
    color: #2E9CD1;
}

.publish-it-now-button
{
    color: #fff;
    margin-left: 37px;
    border-radius: 13px;
    font-size: 11px;
    padding: 11px 26px;
}

.subtitle-home
{
    display: inline;
    font-size: 30px;
    line-height: 40px;
    margin: 20px 0;
    padding-bottom: 7px;
    /*border-bottom: 5px solid #00aeef;*/
    font-weight: bold;
}

.gradient-image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.gradient-image img
{
    width: 100%;
}
.search-form-section {
    background-color: transparent;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.search-form-section .jumbotron
{
    background:transparent;
}
.navbar-home-page
{
    padding: 0 0 0 0;
    background-color: transparent;
    z-index: -1;
}

.container-home-page
{
    margin-right: 0px;
    margin-left: 0px;
}

.logo h1 {
    padding-bottom: 67px;
}

.camera_caption h1
{
    margin-top: 8%;
    border-right: 0px;
}


.my-account-button
{
    min-width:125px;
    text-align: center;
    background-color: #6A6863 !important;
    border-radius: 9px;
}
.jRibbon
{
    margin-top: 32px;
    margin-right: 0px;
    font-size: 13px;
}
.link_direct
{
    margin-right: 32px;
}
.find-ideal-home-text
{
    font-size: 39px;
    color: #fff;
    text-shadow: 3px 3px #6a686336;
    font-weight: 500;
}

.home-search-form
{
    padding: 10px 15px 10px 15px;
    background-color: rgba(255, 255, 255, 0.45);
}

.home-search-form select
{
    border-radius: 13px;
    background: linear-gradient(#fff,#e5e5e5cc);
    color:#828282;
    border: 0px;
    padding: 5px 20px 5px 20px;
    margin-right: 40px;
}

.search-button
{
    color: #fff;
    border-radius: 13px;
    font-size: 11px;
    padding: 11px 26px;
    background-color: #19ABD2;
    background-image:none;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.item_property h5 {
    color: #fff;
}
.you-want-to-announce
{
    background-color: rgba(0,173,238,1) !important;
}
#layout-home
{
    background-color:#fff;
}
.footer_medium
{
    border-top: 5px solid #00aeef;
}
.footer_medium:after
{
    border-top: 20px solid #00aeef;
}
ul.social.tooltip-demo li
{
    background-color: rgba(0,173,238,1) !important;
}
/*begin - transaction type button*/
.filter-transaction-type button
{
    opacity: 0.65;
    color:#fff;
    font-size:12px;
    font-weight:bold;
    padding-left: 27px;
    padding-right: 27px;
    transition: none;
    background-color: #6F6F65;
    background-image:none;
    text-shadow: none;;
}
.filter-transaction-type .btn-default.active
{
    webkit-box-shadow: inset 3px 3px 8px rgba(0, 0, 0, 0.51);
    box-shadow: inset 3px 3px 8px rgba(0, 0, 0, 0.51);
}
.btn-default:active, .btn-default.active {
    background-color: #19ABD2;
    border-color: #19ABD2;
    color: #FFF;
}
.filter-transaction-type button:hover
{
    opacity: 1;
}
.filter-transaction-type button:first-child
{
    border-radius: 13px 0px 0px 0px;
    /*background-color: #19ABD2;*/
    color:#fff;
}
.btn-default:hover, .btn-default:focus {
    color:#fff;
    background-color: #19ABD2;
    background-position: 0 -15px;
}
.filter-transaction-type button:last-child
{
    border-radius: 0px 13px 0px 0px;
}

.info_property ul li:first-child
{
    height: 5em!important;
}
.row-content-form
{
    overflow: -webkit-paged-x;
}
/*end - transaction type button*/
/*begin - Drop down*/
.btn-default.dropdown-toggle
{
    border-radius: 13px;
    /*background: linear-gradient(#fff,#e5e5e5cc);*/
    background: #F7F7F7;
    color:#828282;
    border: 0px;
    padding: 5px 10px 5px 40px;
    width: 100%;
}
.form-group .dropdown
{
    width: 100%;
}
.form-group {
    margin-bottom: 15px;
    margin-right: 30px;
}
.form-group.visible-xs {
    margin-right: 0px;
}
.btn-default.dropdown-toggle .caret
{
    margin-left: 30px;
}
.dropup .dropdown-menu, .navbar-fixed-bottom .dropdown .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 2px;
}
.open>.dropdown-menu {
    display: block;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left!important;
    min-width: 160px;
    padding: 5px 0!important;
    margin: 2px 0 0!important;
    font-size: 14px;
    text-align: left!important;
    list-style: none!important;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.dropdown ul li {
    display: block;
    text-align: left;
    background: rgba(255, 255, 255, 0.8);
    padding: 0px 0!important;
}
.dropdown ul li a{
    padding-left: 0px;
}
.dropdown ul
{
    width: auto;
    border-radius: 13px;
    opacity: 0.68;
}

#properties-carousel .info_property ul li {
    line-height: 17px;
    padding: 0 8% 5px 8%;
}
#properties-carousel .info_property ul li:first-child
{
    height: auto!important;
}

.subtitle-line
{
    margin-top: 5px;
    margin-bottom: 20px;
    border: 2px solid #00aeef;
    /* border-top: 1px solid #eee; */
}

.big-cover-image
{
    display: block;
    width: 100%;
}
.small-cover-image
{
    display: none;
}
/*end - Drop down*/
@media handheld, only screen and (min-width: 1200px)
{
    .container {
        /*margin-top:40px;*/
    }
}

@media handheld, only screen and (max-width: 1024px)
{
}

@media handheld, only screen and (max-width: 768px)
{
    .top-responsive-logo
    {
        display: block;
        float: left!important;
        width: 25%!important;
        margin: 15px 1px 1px 8px!important;
    }
    .find-ideal-home-text {
        font-size: 35px;
    }
}
@media handheld, only screen and (max-width: 640px)
{
    .top-responsive-logo
    {
        display: block;
        float: left!important;
        width: 28%!important;
        margin: 15px 1px 1px 8px!important;
    }
    .find-ideal-home-text {
        font-size: 35px;
    }
}
@media handheld, only screen and (max-width: 480px)
{
    .filter-transaction-type button
    {
        opacity: 0.8;
        color:#fff;
        font-size:12px;
        font-weight:bold;
        padding-left: 27px;
        padding-right: 27px;
        transition: none;
        background-color: #6F6F65;
        background-image:none;
        text-shadow: none;
        width: 100%;
    }
    .filter-transaction-type button:hover
    {
        opacity: 1;
    }

    .filter-transaction-type button:first-child
    {
        border-radius: 13px 13px 0px 0px!important;
        /*background-color: #19ABD2;*/
    }

    .filter-transaction-type button:last-child
    {
        border-radius: 0px 0px 13px 13px!important;
    }
    .top-responsive-logo
    {
        display: block;
        float: left!important;
        width: 50%!important;
        margin: 15px 1px 1px 8px!important;
    }



}
@media (max-width: 375px)
{
    .mobile-full-width
    {
        padding: 20px 0px 40px 0px;
    }
    .mobile-full-width .publication-thumbnail
    {
        padding-right: 0px;
        padding-left: 0px;
    }
    .mobile-full-width .content-carousel
    {
        margin-left: 0px;
        margin-right: 0px;
    }
    .mobile-full-width .container
    {
        margin-left:0px;
        margin-right:0px;
        padding-left: 0px;
        padding-right: 0px;
        width:100%
    }
    .big-cover-image
    {
        display: none;
    }
    .small-cover-image
    {
        display: block;
    }
    .mobile-full-width .properties-carousel {
        padding: 30px 0px 10px 0px !important;
    }
}
@media handheld, only screen and (max-width: 320px)
{

}
@media handheld, only screen and (max-width: 300px)
{

}