.publication-thumbnail .publication-price
{
    text-align: center;
    color:#7D7D7F;
    font-weight: bold;
    padding-bottom: 0px;
}

.publication-thumbnail .publication-property-and-transaction-type
{
    color: #777;
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: -3px;
    font-weight: 600;
}

.publication-thumbnail .publication-name
{
    font-size: 15px;
    color: #22AEEF;
}
.publication-thumbnail .publication-name a
{
    color: #22AEEF;
}
.publication-thumbnail .publication-address
{
    font-size: 14px;
    color:#767687;
    font-weight:500;
}
.publication-thumbnail .publication-amenities
{
    border-top: 2px solid #dddddd;
    margin-top: 7px;
    padding-top:15px;
}
.publication-thumbnail .publication-amenity-item
{
    color:#878787;
    font-size:16px;
    margin-right: 5px;
}

.publication-thumbnail .publication-amenity-value
{
    font-size:12px;
    vertical-align: middle;
}

.publication-thumbnail .thumbnail
{
    webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, .075);
    box-shadow: 0 0px 0px rgba(0, 0, 0, .075);
    padding: 0px;
    border: 0px solid #ddd;
}

.publication-thumbnail .caption
{
    background-color: #FAFAFA;
    padding: 9px 25px 9px 25px;
    height: 124px;
}
.publication-thumbnail .caption p
{
    margin-bottom:3px;
}
.publication-thumbnail .caption-amenities
{
    background-color: #FAFAFA;
    padding: 9px 25px 9px 25px;
}
.publication-thumbnail .caption-amenities p
{
    margin-bottom:3px;
    text-align: center;
}
.publication-thumbnail a.thumbnail:hover
{
    opacity: 0.6;
}
.publication-thumbnail a.thumbnail
{
    margin-bottom:0px;
}

.publication-thumbnail .stand_out_project
{
    background-color: #FFF69E;
}

.publication-thumbnail .stand_out
{
    background-color: #cceffc;
}

.thumbnail-edit-publication
{
    font-size: 15px;
}