@charset "utf-8";

/* ============================== 
	- Template Name: Full State - Real State Template 
	- Autor: Iwthemes
	- Email: support@iwthemes.com
	- Name File: style.css
	- Version 1.4 - Updated on 14/08/2014
	- Website: http://www.iwthemes.com 
	- Copyright: (C) 2014
================================= */	

/* ---------------------------------
	Stylesheet Guide
-----------------------------------

	01. Import styles
		-  bootstrap.css  - include resetes ( Media querys, grid-responsive,layout).
		-  bootstrap-theme.css		
		-  Google Fonts
		-  icons
		-  Slide camera
		-  Fancy Box
		-  Animate.css
		
	02. Basic Elements
		-  Standar Styles	
		-  Class and styles Generals
		-  Divisor
		-  Titles
		-  TABS
		-  ACCORDION		
		-  Top		

	0.3.  Structure
		-  Header
		-  Main Navigation
		-  Properties		
		-  Social
		-  Footer	
		-  Contact
		-  About
		
	0.4.	Layout 1024px version
	0.5.	Layout for 767px mobile version
	0.6.	Layout for 568px mobile version	
	0.7.	Layout for 560px mobile version
	0.8.	Layout for 380px mobile version
*/

/* ---------------------------------------------------------------------- */
/*	01 Import styles
/* ---------------------------------------------------------------------- */

/* bootstrap.css  - include resetes ( Media querys, grid-responsive,layout).*/
@import url("bootstrap/bootstrap.css");
@import url("bootstrap/bootstrap-theme.css");
/*Style Switcher*/
@import url("skins/theme-options.css");
/*Style Responsive*/
@import url("theme-responsive.css");
/*slide.css*/
@import url("slide/camera.css");
/* owlcarousel */
@import url("owlcarousel/owl.carousel.css");
@import url("owlcarousel/owl.theme.css");
/*Icons Font-Awesome*/
@import url("icons/font-awesome.min.css");
/*Animations*/
@import url("animations/animate.css");
/*Google Fonts*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,300,700,800");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");


/* ---------------------------------------------------------------------- */
/*	02 Basic Elements
/* ---------------------------------------------------------------------- */

/* Standar Styles --------------------------------------------------------*/

body{
	font-size: 16px;	
	font-family: 'Open Sans', sans-serif;
	line-height:26px;
	color:#5c5c5c;
	position: relative;
	font-weight: normal;
	background-color: #E3E4E6;
}
a{
	color: #555759;
	-webkit-transition: 0.3s all ease;
	-moz-transition: 0.3s all ease;
	-o-transition: 0.3s all ease;
	-ms-transition: 0.3s all ease;
	transition: 0.3s all ease;
}
a:hover{
	text-decoration: none;	
	-webkit-transition: 0.3s all ease;
	-moz-transition: 0.3s all ease;
	-o-transition: 0.3s all ease;
	-ms-transition: 0.3s all ease;
	transition: 0.3s all ease;
}
p{
	margin:0 0 20px 0;
	padding: 0;			
}
h1 {
	font-size:24px;
	line-height: 34px;
}
h2 {
	font-size:22px;
	line-height: 32px;
}
h3 {
	font-size:20px;
	line-height: 30px;
}
h4 {
	font-size:18px;
	line-height: 28px;
}
h5 {
	font-size:16px;
	line-height: 26px;
}
h6 {
	font-size:14px;
	line-height: 24px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-family: 'Roboto', sans-serif;
	padding: 5px 0 15px 0;	
	margin: 0;	
	/*color: #080808;*/
    color: #555759;
}

/* Class and styles General ----------------------------*/

.clearfix{
	width:1px;
	height:1px;	
	display:block;
	clear:both;
	content:" , ";
}

.bold_text{
    font-weight: bold;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}
.text_right{
	text-align: right;
}
.center{
	text-align: center;
}
.padding_top{
	/*padding-top: 50px;*/
    padding-top: 16px;
}
.padding_bottom{
	padding-bottom: 40px;
}
.padding_top_mini{
	padding-top: 20px;
}
.margin_top{
	margin-top: 40px;
}

.button{
	width: auto;
	border: 0;
	color: #fff;
	font-size: 14px;
	font-style: italic;
	margin: 10px 0;	
	padding: 8px 25px;
	-webkit-transition: 0.3s all ease;
	-moz-transition: 0.3s all ease;
	-o-transition: 0.3s all ease;
	-ms-transition: 0.3s all ease;
	transition: 0.3s all ease;
}
.button:hover{
	color: #fff;
	-webkit-transition: 0.3s all ease;
	-moz-transition: 0.3s all ease;
	-o-transition: 0.3s all ease;
	-ms-transition: 0.3s all ease;
	transition: 0.3s all ease;
}

.show-grid [class^=col-] {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #eee;
	background-color: rgba(86,61,124,.15);
	border: 1px solid #ddd;
	border: 1px solid rgba(86,61,124,.2);
	margin-bottom: 20px;
}

/* ul -  style */
 footer ul li,
 .sponsors{
 	list-style: none; 	
 }
 ol li{
 	line-height: 30px;
 }
 dl dt{
 	line-height: 30px;
 }
.fontawesome-icon-list .fa-hover a {
	display: block;
	color: #222222;
	line-height: 32px;
	height: 32px;
	padding-left: 10px;
	border-radius: 4px;
}

/* divisor  ----------------------------*/

.divisor{
	position: relative;
	width: 100%;
	height: 1px;
	margin: 20px 0;
	background-color: #cdcdcd;
}
.circle_left{
	position: absolute;
	left: 0;
	top: -5px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
}
.circle_right{
	position: absolute;
	right: 0;
	top: -5px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
}


/* Titles  ----------------------------*/

.titles{
	/*margin:50px 0 40px 0;*/
    margin:20px 0 40px 0;
	width: auto;
}
.titles span{
	background-color: #1e1e1e;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	line-height: 30px;
	padding: 6px 10px 6px 10px;
	display: inline;
}
.titles h1{
	margin: 20px 0;
	padding-bottom: 7px;	
	font-size: 30px;
	line-height: 40px;
	display: inline;
}
.no_margin_top{
	margin-top: 0;
}

.switcher-panel .padding_top{
	padding-top: 60px;
}


/* Tabs  ----------------------------*/

.tabs_services{	
	padding: 0;
	margin-bottom: 0;
}
.tabs_services li{
	font-size: 16px;
	font-weight: 400;
	background: #000;
	background: rgba(0,0,0,0.8);
	padding: 8px 13px;
	list-style: none;
    width: 100%;
}
.tabs_services li a{	
	cursor: pointer;	
	color: #fff;
}
.switcher-content {

}
.show-switcher{
	display: block;
}
.switcher-panel{
	padding: 0 0 0;
}
.divisor_services{
	margin:0;
}
.search_box{
	background: #000;
	background: rgba(85,87,89,0.8);
	width: 100%;
	/*max-width: 450px;*/
	padding: 15px 5%;
	display: inline-block;
}
.search_box input,
.filter_horizontal input{
	width: 100%;
	background: #fff;
	border-radius: 0;
	color: #222;	
	height: 35px;
	font-size: 14px;
	margin-top: 2px;
	padding: 5px;
    border: none;
}
.search_box label{
	color: #fff;
	font-weight: normal;
	font-size: 14px;
	line-height: 23px;
	padding: 5px 0 0 0;
}
.search_box select,
.filter_horizontal select{
	background-color: #fff;
	color: #222;
	width: 100%;
	border-radius: 0;
	border: 1px solid #dedede;
	font-size: 14px;
	height: 35px;
}
.search_box .button{
	color: #fff;
	padding: 3px 15px;
	margin-top: 15px;
	height: auto;
}
.calculator input{
	margin-bottom: 20px;
}
.calculator select{
	margin-bottom: 20px;
}
.calculator .button{
	margin: 0;
}
#result_calculator{
	/*float: right;
	margin-top: -46px;*/
    width: 100%;
    margin-bottom: 20px;
}

.form_calculator .button-calculator{
    width: 100% !important;
    margin: 5px 0px !important;
}

/*  filter_horizontal  -------------------------*/

.filter_horizontal{
	/*border-bottom: solid 1px #dedede;*/
	padding: 45px 0 75px 0 ;
    /*position: absolute;
    top: 0;
    left: 0;*/
	width: 100%;
    background-color: #00adee !important;
}
/*.filter_horizontal:after {
    border-color: transparent #00aeef transparent transparent;
}
.filter_horizontal:after {
    border-style: solid;
    border-width: 0 35px 24px 0;
    content: "";
    left: 10%;
    position: absolute;
    top: 0;
    z-index: 999;
}*/
.filter_horizontal .button{
	background-color: #232323 !important;
	color: #fff;
}
.filter_horizontal .button:hover{
	background-color: #232323 !important;
	color: #fff;
	opacity: 0.9;
}

/* Tabs  Details--------------------------------*/
ul.list-option-header{
    display: block; 
    width: 100%;
    margin-bottom: 0;
}

ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	width: 100%;
    padding: 10px 0 0 0;
    border-bottom: 1px #ddd solid;
}
ul.tabs li {
	float: right;
    margin: 0;
	padding: 5px 10px;
	line-height: 30px;
    border: 1px solid #ddd;
    border-left: none;
    border-bottom: none;
	position: relative;
	background-color: #f9f9f9;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
ul.tabs li:last-child {
    border-left:  1px solid #ddd;
}
ul.tabs li a {
	text-decoration: none;
	display: block;
	padding:0 16px;
	outline: none;
	font-size: 14px;
	color: #4C4C4C;
}
ul.tabs li:hover {	
	color: #fff;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
ul.tabs li a:hover {		
	color: #fff;
}
html ul.tabs li.active, html ul.tabs li.active a:hover{
	color: #fff;
}
html ul.tabs li.active a{	
	color: #fff;
}
.tab_container{
	border: 1px solid #ddd;
	background: #f6f6f6;
	padding:20px;
	clear: both;	
	overflow: auto;
	width: 100%;		
	position: relative;
}
.tab_content #form input{
	width: 100%;
	font-size: 13px;
	height: 35px;
	padding: 5px 10px;
	border: 1px solid #dedede;
}
.tab_content #form textarea{
	width: 100%;
	font-size: 13px;
	padding: 5px 10px;
	border: 1px solid #dedede;
}
.tab_content #form .button{
	width: auto;
}


/* ACCORDION ------------------------------------------*/

.accordion-container h4{
	margin: 0;
	padding: 0;	
}
.accordion-trigger{
	text-decoration: none;
	padding:10px 10px 10px 25px;
	margin:0 0 10px 0;
	cursor: pointer;
	font-weight: bold;
	border: 1px solid #dbdbdb;
	background: #f9f9f9 url("../img/img-theme/toggle.png") no-repeat right 14px;
	-webkit-transition: all .1s linear;
	-moz-transition: all .1s linear;
	-o-transition: all .1s linear;
	transition: all .1s linear;
}
.accordion-trigger.active{	
	color: #fff;
}
.accordion-trigger:hover{
	color: #fff;
	-webkit-transition: all .1s linear;
	-moz-transition: all .1s linear;
	-o-transition: all .1s linear;
	transition: all .1s linear;
}
.accordion-container{	
	padding:5px 0;
}
.accordion-container p{
	margin: 0;
}

/* Top ---------------------------------------------------------*/

#toTop {
	display:none;
	text-decoration:none;
	position:fixed;
	bottom:10px;
	right:10px;
	overflow:hidden;
	width:51px;
	height:51px;
	border:none;
	text-indent:100%;
	background:url("../img/img-theme/ui.totop.png") no-repeat left top;
	/*z-index: 9999;*/
    z-index: 10;
}
#toTopHover {
	background:url("../img/img-theme/ui.totop.png") no-repeat left -51px;
	width:51px;
	height:51px;
	display:block;
	overflow:hidden;
	float:left;
	opacity: 0;
	-moz-opacity: 0;	
}
#toTop:active, #toTop:focus {
	outline:none;
}

#toPhone{
    background:url("../img/img-theme/ui.phone.png") no-repeat left 0px;
    width:51px;
    height:51px;
    display:block;
    overflow:hidden;
    float:left;
    margin: 0 3px;
    display: none;
}
#toMarker{
    background:url("../img/img-theme/ui.marker.png") no-repeat left 0px;
    width:51px;
    height:51px;
    display:block;
    overflow:hidden;
    float:left;
    margin: 0 3px;
    display: none;
}
#toMail{
    background:url("../img/img-theme/ui.mail.png") no-repeat left 0px;
    width:51px;
    height:51px;
    display:block;
    overflow:hidden;
    float:left;
    margin: 0 3px;
    display: none;
}

#toWhatsapp{
	background:url("../img/img-theme/ui.whatsapp.png") no-repeat left 0px;
	width:51px;
	height:51px;
	display:block;
	overflow:hidden;
	float:left;
	margin: 0 3px;
	display: none;
}

/* ---------------------------------------------------------------------- */
/*	03 Structure
/* ---------------------------------------------------------------------- */


/* Client Login ---------------------------------------*/

.line{
	height: 8px;
}
.relative{
	position: relative;
	max-width: 1170px;
	margin: 0 auto;
}
.jBar {	
	background-position:top;
	height: auto;
	display: none;
	padding-bottom: 15px;
	background:#1e1e1e;
	position:relative;
	color:#FFF;	
}
.jRibbon {
	padding:3px;
	float: right;
    margin-right: 14px;
	font-size: 15px;
	padding: 7px 20px;
    margin-top: 8px;
	color:#FFF;
	cursor:pointer;
	-webkit-transition: 0.3s all ease;
	-moz-transition: 0.3s all ease;
	-o-transition: 0.3s all ease;
	-ms-transition: 0.3s all ease;
	transition: 0.3s all ease;
}
a.jRibbon:hover, a.jRibbon:link, a.jRibbon:visited, a.jRibbon:active {
    color: #fff;
    text-decoration: none;
}
.downarrow {
	position:absolute;
	bottom:-50px;
	z-index: 99;
	padding: 0 20px;
	right:7%;
	font-size: 12px;
	padding: 2px 20px;
	cursor: pointer;	
	-webkit-transition: 0.3s all ease;
	-moz-transition: 0.3s all ease;
	-o-transition: 0.3s all ease;
	-ms-transition: 0.3s all ease;
	transition: 0.3s all ease;
}
.up {
	display: none;
	-webkit-transition: 0.3s all ease;
	-moz-transition: 0.3s all ease;
	-o-transition: 0.3s all ease;
	-ms-transition: 0.3s all ease;
	transition: 0.3s all ease;
}
.jBar h1{
	color: #fff;		
	font-weight: bold;
	margin:0;
	padding: 0;
	font-size: 28px;
	line-height: 38px;
}
.jBar ul{
	margin-top: 25px;
}
.jBar ul li{
	padding-bottom: 20px;
	text-align: right;
}
.jBar ul li span{	
	font-size: 20px;
	margin: 0;
	float: left;
	padding: 0;
	margin-right: 10%;
	color: #df562c;
	line-height: 22px;
	font-weight: bold;
}
.jBar input{
	width: 95%;
	margin:0;
	height: 38px;	
	padding: 5px 10px;
	font-size: 13px;
	border-radius: 0;
    color: #000;
}
.jBar .botton{
	border: none;
	width: auto;
	padding: 6px 20px;
	height: auto;
	color: #fff;	
}
.jBar form{
	padding: 50px 0 70px 0;
	margin: 0;
}
.jBar span{
	font-weight: bold;
	padding: 0 15px;
}

/*  Info head -----------------------------------------*/

.info_head{
	padding: 8px 0;
	background: #E3E4E6;
    display: none;
}
.info_head ul{
	padding:0;
}
.info_head ul li{
	list-style: none;
	/*float: left;*/
    display: inline-block;
	margin-right: 25px;
	font-size: 13px;
}
.info_head ul li i{
	padding: 5px 5px 0 0;
}
.info_head ul li ul li{
	list-style: none;
	float: none;
	margin: 0;
	border-right: 0;	
	padding: 0;
}
.info_head .dropdown-toggle:hover,
.info_head .dropdown-toggle:focus{
	text-decoration: none;
}

.info_head ul li ul li a img{
	padding-right: 10px;
}
.info_head ul li .dropdown-menu{
	min-width: 120px;
	padding: 0;
	top: 32px;
	border-radius: 0;
	border-top: 0;
}
.info_head ul li .dropdown-menu a{
	padding: 5px 15px;
	line-height: 20px;
	font-size: 12px;
}
.info_head .dropdown-menu > li > a:hover,
.info_head .dropdown-menu > li > a:focus,
.info_head .dropdown-menu > .active > a,
.info_head .dropdown-menu > .active > a:hover,
.info_head .dropdown-menu > .active > a:focus {
	background: #dedede;
	color: #000;
}
.info_head ul li a i{
	font-size: 13px;
	padding-top: 3px;
	padding-left: 5px;
}

/* header ---------------------------------------------------------*/

header{
	position: relative;
	overflow: hidden;
}
.logo{
	position: relative;
}
.logo img{
    max-width: 280px;
    width: 100%;
    left: 0;
    top: -8px;
	position: absolute;
}
    .logo a{
        display: block;
    }
.bg_header{
	position: absolute;
	margin-top: 12%;
	width: 100%;
	max-width: 420px;
	z-index: 2;
	left: 30px;
}
.search_contact .bg_header{
	max-width: 1170px;
	left: 50%;
	margin-left: -585px;
	margin-top: 4%;
}
.search_contact .bg_header,
.search_contact .search_box{
	width: 1170px;
	max-width: 100%;
}
.search_contact .search_box{
	padding:10px 10px 20px 10px;
}
.search_contact .button{
	margin-top: 33px;
}
.slide{
	padding: 0;
	background: transparent;
}


/*  Main Navigation -----------------------------------------*/

nav{
	background-color: #fff;
	padding: 25px 0 0 0;
}
.tinynav{ 
	display: none 
}
.sf-menu{	
	text-align: right;	
	margin-bottom: 0;	
	padding-top: 20px;
}
.sf-menu ul{
	position:absolute;	
	list-style: none;
	text-align: left;
	top:-999em;
	width:150px;
	display:none;
	padding: 0;
	background: #1e1e1e;		
}
.sf-menu > li{
	position: relative;
	display: inline-block;
	list-style: none;
	margin:0 4px;
}
.sf-menu > li:last-child{
	/*margin:0 0 0 4px;*/
}
.sf-menu > li > a {
	text-decoration:none;
	display:block;
	font-size:14px;
	font-weight: 500;
    padding: 0.6em 2.8em;
    background-color: rgba(0, 174, 239, 0.8);
	color:#fff;	
}

.sf-menu > li > .menu-header-active {
    color: #fff !important;
    background-color: rgba(153, 153, 153, 0.8);
}

.sf-menu > li > a:hover {
    color: #fff !important;
    background-color: rgba(153, 153, 153, 0.8);
}
.sf-menu li:hover ul,.sf-menu li.sfHover ul{
	top:57px; 	
	left:0;
	z-index:999;
}
.sf-menu li:hover li ul,ul.sf-menu li.sfHover li ul{top:-999em}
.sf-menu li.current,.sf-menu li:hover,.sf-menu li.sfHover{
	text-decoration:none;
}
.sf-menu li li a{
	display:block;
	margin:0;
	position:relative;
	text-decoration:none;
	font-size:13px;
	line-height:16px;
	color:#fff;
	overflow:hidden;
	padding:12px 15px;	
	-webkit-transition: 0.3s all ease;
	-moz-transition: 0.3s all ease;
	-o-transition: 0.3s all ease;
	-ms-transition: 0.3s all ease;
	transition: 0.3s all ease;
}
.sf-menu li li > a:hover, .sf-menu li li.sfHover > a, .sf-menu li li.current > a{
	color:#fff;			
}
.sf-menu li li{
	float:none;
	position:relative;	
}
.sf-menu li li a:hover{
	color: #fff;	
	-webkit-transition: 0.3s all ease;
	-moz-transition: 0.3s all ease;
	-o-transition: 0.3s all ease;
	-ms-transition: 0.3s all ease;
	transition: 0.3s all ease;
}
.sf-menu li li:hover ul,ul.sf-menu li li.sfHover ul{left:150px;top:0;}

/* Content Info ----------------------------*/

.full_info{
	padding: 50px 0;
	border-top: 1px solid #cacaca;	
	background: #fff;
}
.sections .tabs_services{
	margin: 50px auto 0 auto;
}
.section_title{
	background-color: #232323;
	/*border-bottom: solid 1px #ddd;*/
	padding: 30px 0 10px 0;	
	/*margin-bottom: 45px;*/
	height:154px;
}
.section_title h1{
	font-size: 35px;	
	line-height: 45px;
	font-weight: lighter;
	color: #fff;	
	background: #000;
	background: rgba(0,0,0,0.6);
	padding: 10px 20px;
}
.section_title span{
	font-size: 20px;
	line-height: 30px;
	font-weight: normal;
	border-left: 3px solid #ddd;
	margin-left: 10px;
	padding-left: 10px;
}
.section_title span a{
	padding-right: 3px;
}
.section_title span a:hover{
	text-decoration: underline;
}
.section_title form{
	margin: 0;
	padding: 0;
}
.section_title input{
	height: 28px;
	margin-top: 3px;
	width: 50%;
	float: right;
}
.section_title form{
	position: relative;
}
.section_title .search{
	background: none;
	border: 0;
	color: #1e1e1e;
	margin: 0;
	padding: 0;	
	position: absolute;
	right: 10px;
	top: 12px;
}
.about{
	background: url("../img/titles/1.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-position: center center;
}
.properties{
	background: url("../img/titles/2.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-position: center center;
}
.features{
	background: url("../img/titles/3.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-position: center center;
}
.contact{
	background: url("../img/titles/4.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-position: center center;
}
.sponsors{
	padding: 20px 0;
}

/* newsletter_box ----------------------------*/

.newsletter_box{
	background-color: #f6f6f6;
	border-bottom: solid 1px #ddd;	
	padding: 20px 0;
	position: relative;

	width: 100%;
}
.newsletter_box:after{
   -webkit-transition-duration: 0.3s;
  content: '';
  border-style: solid;
  border-width: 0 35px 24px 0;
  left: 10%;
  top: 0;
  position: absolute;
  z-index: 999;
}
.layout-wide .newsletter_box:after{
	right: 25%;
}
.newsletter_box h3{		
	margin: auto;
	padding: 10px 0;	
	line-height: 34px;
	font-size: 26px;
	font-style: italic;
	color: #333;
	font-weight: normal;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.newsletter_box h3 span{
	color: #1c1b1b;
	font-weight: normal;
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	font-size: 16px;
	padding-left: 10px;
}
.newsletter_box form{
	margin: 0;
	padding: 0;
}
.newsletter_box input{
	height: 35px;
	margin-top: 12px;
	font-size: 13px;
	padding: 5px 10px;
	border: 1px solid #dedede;
	width: 70%;
	float: right;
}
.newsletter_box form{
	position: relative;
}
.newsletter_box .register{
	background: none;
	border: 0;
	color: #1e1e1e;
	margin: 0;
	padding: 0;	
	position: absolute;
	right: 10px;
	top: 17px;
}
.newsletter_box .register i{
	font-size: 20px;	
}
#result-newsletter .alert-error{
	margin: 0;
	padding: 0;
	font-size: 13px;
	color: red;
}
#result-newsletter .alert-success{
	margin: 0;
	padding: 0;
	font-size: 13px;
	color: green;
}

/* Bar Propertys ----------------------------*/

.bar_properties{
	width: 100%;
	margin-bottom: 18px;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    padding: 0 15px;
}
.bar_properties ul{
	margin: 0;
	position: relative;
}
.bar_properties ul li{
	padding: 5px 10px;
	margin-right: 5px;
	display: inline-block;
}
.bar_properties ul li:hover{
	background: #4e4e4e;
}
.bar_properties  strong{
	color: #fff;
	padding: 6px 10px 0 10px;
	float: left;	
}
.bar_properties a{
	color: #fff;
	font-size: .95em;
    font-weight: bold;
    display: block;
    text-align: center;
    padding: 8px 0;
}
.bar_properties a:link{ text-decoration: none; }
    .bar_properties a:hover, .bar_properties .active{
        background-color: #00AEEF;
        color: #fff;
    }

/* Propertys ----------------------------*/

.item_property{	
	overflow: hidden;
	margin-bottom: 30px;
    border-bottom: 3px #ccc solid;
}
.properties_two .item_property{
	margin-bottom: 25px;
}
.item_property:hover .info_property{
	-webkit-transition: 0.3s all ease;
	-moz-transition: 0.3s all ease;
	-o-transition: 0.3s all ease;
	-ms-transition: 0.3s all ease;
	transition: 0.3s all ease;
}
.head_property{
	position: relative;
	overflow: hidden;
	width: 100%;
}
.property_two .head_property{
    height: 233px;
}
.head_property img{
	width: 100%;
	-webkit-transition: 0.3s all ease;
	-moz-transition: 0.3s all ease;
	-o-transition: 0.3s all ease;
	-ms-transition: 0.3s all ease;
	transition: 0.3s all ease;
    border: 1px #ccc solid;
}
.item_property:hover .head_property img{
	cursor: pointer;
}
.item_property .title{	
	width: 79px;
	height: 84px;
	position: absolute;
	top: 0;
	left: -1px;
	z-index: 1;
}
.info_property{	
	background-color: #fff;
	padding: 0;
	border:solid 1px #cdcdcd;
	border-top: 0;
	border-bottom: 0px solid #cdcdcd;
	border-top: 0px solid #f6f6f6;
	padding: 20px 0;
}
.item_property h5{	
	position: absolute;
	bottom: 15px;
	text-align: right;
	right: 0;
	background: #232323;
	background: rgba(0,0,0,0.6);
	padding: 5px 15px 5px 22px;
    font-size: .9em;
    z-index: 99;
}
.info_property ul{
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;	
}
.info_property ul li{	
	line-height: 25px;
	padding: 0 8% 5px 8%;
}
.info_property ul li:last-child{		
	border-bottom: 0;
	padding-bottom: 0;
}
.info_property ul li span{
	float: right;
	font-size: 13px
}
.info_property ul li strong{
	font-size: 14px;
}
.info_property .resalt{
	background-color: #f9f9f9;
}
.info_property .resalt:first-child{
	border-top: 1px solid #eee;
}

.portal .info_property h5{
	padding: 5px 0 10px 0;
}
.portal .info_property{
	padding: 10px 5%;
}
.portal .info_property p{
	margin: 0 0 3px 0;
	font-style: italic;
}

/* Item Properti h ----------------------*/

.item_property_h{
	overflow: auto;
	position: relative;
	width: 100%;
	background-color: #fff;	
	border:solid 1px #cdcdcd;
	margin-bottom: 35px;
	webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
	box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
}
.info_property_h{
	height: 100%;
}
.info_property_h h4{
	background-image: url("../img/img-theme/border.png");
	background-position: left bottom;
	background-repeat: repeat-x;
	font-size: 18px;
	line-height: 28px;
	margin-bottom: 12px;
	margin-right: 20px;
	padding: 8px 0;
}
.info_property_h span{
	font-size: 13px;
	font-weight: lighter;
	border-left: 1px solid #1e1e1e;
	margin-left: 10px;
	padding-left: 8px;
}
.info_property_h p{
	color: #707070;
	font-size: 14px;
	line-height: 20px;
}
.item_property_h .line_property{
	background: #1e1e1e;
	bottom: 0px;
	z-index: 0;
	line-height: 30px;
	font-size: 14px;
	padding-left: 34%;
	position: absolute;
	width: 100%;
}
.item_property_h .line_property span{
	float: left;
	padding:0 10px;
	margin-right: 10px;
	color: #fff;
	font-size: 18px;	
	border-right: 1px solid #fff;
}
.image_property_h{
	margin-left: -15px;
	width: 110%;
	z-index: 1;
	position: relative;
}
.image_property_h img{
	width: 100%;
	-webkit-transition: 0.3s all ease;
	-moz-transition: 0.3s all ease;
	-o-transition: 0.3s all ease;
	-ms-transition: 0.3s all ease;
	transition: 0.3s all ease;
}
.hover_property_h{
	position: relative;
	overflow: hidden;
}
.info_hover_property_h{
	position: absolute;
	background-color: #232323;
	background: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
	top: 0;
	opacity: 0;
	color: #fff;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
	transition: 0.5s all ease;
}
.item_property_h:hover .image_property_h img{
	 -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: 0.3s all ease;
	-moz-transition: 0.3s all ease;
	-o-transition: 0.3s all ease;
	-ms-transition: 0.3s all ease;
	transition: 0.3s all ease;
}
.item_property_h:hover .info_hover_property_h{
	opacity: 1;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
	transition: 0.5s all ease;
}
.item_property_h .listing-cover-plus {
	font-size: 40px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -22px;
	margin-top: -22px;
	color: #fdfdfd;
	height: 45px;
	border: 1px solid #fdfdfd;
	border-radius: 4px;
	padding: 0px 10px 0px 10px;
	z-index: 12;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
	cursor: pointer;
	line-height: 40px;
}

/* Carousel Properties */

.properties-carousel{
	background-color: #F0F0F0;
	padding: 40px 25px 10px 25px;
}
    .properties-carousel .info_property .title_project{  }


/* Details Properties */ 

.search_advance{
	/*max-width: 400px;*/
}
.more_slide{
	background: #1e1e1e;
	padding: 10px 10px 4px 20px;
	border: 1px solid #ddd;	
	border-bottom: 0;
	width: auto;
}
.more_slide ul{
	padding: 0;
	list-style: none;
}
.more_slide ul li i{
	font-size: 20px;
}
.more_slide ul li{
	display: inline-block;
	margin-right: 15px;
}
.more_slide ul li a{
	font-size: 13px;
	margin-left: 5px;
	color: #fff;
}

.info_details{
	padding: 0;
	list-style: none;
}
.info_details li{
	line-height: 30px;
	border-bottom: 1px solid #cdcdcd;
	padding: 5px 0;
}
.info_details li:last-child{
	border: 0;
}
.info_details li span{
	float: right;
}
.info_details li strong{
	color: #444;
}

.general_info{
	padding: 0;
	list-style: none;
}
.general_info li{
	line-height: 40px;
}
.general_info li i{
	color: #333;
	font-size: 15px;
	padding-right: 5px;
}
.description{
	background: #f6f6f6;
	padding: 20px;
	border: 1px solid #ddd;
}

/* comments ----------------------------*/

.comments{
	width: 80%;
	padding: 20px 0 0 3%;
}
.comments .media{
	margin-bottom: 10px;
}
.comments .media .media{
	margin-top: 40px;
}
.comments .media h5{
	padding: 0;
}
.comments .media h5 a:hover{
	color: #de4b39;
}

/* Services ----------------------------*/

.services h3{	
	padding: 0 0 10px 5%;
}
.item_service{		
	margin:0 0 30px 0; 		
	position: relative;		
}
.item_service:hover .image_service{		
	background: #1e1e1e !important;
	-webkit-transition: 0.3s all ease;
	-moz-transition: 0.3s all ease;
	-o-transition: 0.3s all ease;
	-ms-transition: 0.3s all ease;
	transition: 0.3s all ease;		
}
.item_service .image_service{
	width: 80px;
	height: 80px;
	text-align: center;
	padding: 22px 10px;	
	position: absolute;	
	top: -3px;
	left: 0;	
	border: 4px solid #1e1e1e;	
	-webkit-border-radius: 60.799999999999997px;
	-moz-border-radius: 60.799999999999997px;
	border-radius: 60.799999999999997px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;	
}
.services i{
	font-size: 25px;
	color: #fff;
}
.info_service{
	float: left;
	margin-left: 10%;
	background-color: #efedea;
	border-radius: 10px;
	padding: 10px 10px 10px 14%;
	border:solid 1px #cdcdcd;
}
.info_service p{
	margin: 0;
	font-size: 14px;
	line-height: 23px;
}

/* Process --------------------------------------------- */

.service-process{
	background-image:url('../img/img-theme/service-bg.png');
	background-repeat:no-repeat;
	background-size:100% auto;
	background-position:center center;	
}
.service-process a{
	color: #5c5c5c;
}
.service-process a:hover{
	color: none;
}
@media(max-width:979px){
	.service-process{background-image:none}
}
.service-process .thumbnail-process,.service-process .thumbnail-process:hover{
	border:0 none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none
}
.caption-head{
	height:200px;
	width:200px;	
	margin: 0 auto;
	background-color:#fff;
	border:6px solid #e6e6e6;
	-webkit-border-radius:500px;
	-moz-border-radius:500px;
	border-radius:500px;
	-webkit-transition:background-color .3s ease;
	-moz-transition:background-color .3s ease;
	-o-transition:background-color .3s ease;
	transition:background-color .3s ease
}
.caption-head .caption-icon{
	display:block;
	height:90px;
	margin-top:35px;	
}
.caption-head .caption-icon:hover,.caption-head .caption-title:hover{
	cursor:pointer
}
.caption-head:hover{
	cursor:pointer;
	-webkit-transition:background-color .3s ease;
	-moz-transition:background-color .3s ease;
	-o-transition:background-color .3s ease;
	transition:background-color .3s ease
}
.caption-head:hover>.caption-icon{
	color:#fff;
	-webkit-animation:slideFromBottom 300ms ease;
	-moz-animation:slideFromBottom 300ms ease;
	-o-animation:slideFromBottom 300ms ease;
	animation:slideFromBottom 300ms ease
}
.caption-head:hover>.caption-title{
	color:#fff;-webkit-animation:slideFromBottom 500ms ease;
	-moz-animation:slideFromBottom 500ms ease;
	-o-animation:slideFromBottom 500ms ease;
	animation:slideFromBottom 500ms ease
}
.icon-big{
	font-size:5em;
	line-height:1.1
}
@-webkit-keyframes slideFromBottom{
	from{
		-webkit-transform:translateY(150%) scale(0.5);
		opacity:0
}
to{
	-webkit-transform:translateY(0%) scale(1);
	opacity:1
 }
}
@-moz-keyframes slideFromBottom{
	from{
		-moz-transform:translateY(150%) scale(0.5);opacity:0
		}
		to{
			-moz-transform:translateY(0%) scale(1);
			opacity:1
			}
	}
	@-ms-keyframes slideFromBottom{
		from{
			-ms-transform:translateY(150%) scale(0.5);
			opacity:0
		}
		to{
			-ms-transform:translateY(0%) scale(1);
			opacity:1
		}
}
.featured-service h1{
	font-size:58px;
	line-height:1.1
}

/* Social   ----------------------------*/

.social{	
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: right;
}
.social li{
	display: inline-block;
	margin: 0 0 0 15px;
	padding: 0 6px;
}
.social li a{
	color: #1e1e1e;
	-webkit-transition: 0.3s all ease;
	-moz-transition: 0.3s all ease;
	-o-transition: 0.3s all ease;
	-ms-transition: 0.3s all ease;
	transition: 0.3s all ease;		
}
.social li a:hover{
	color: #fff;
	-webkit-transition: 0.3s all ease;
	-moz-transition: 0.3s all ease;
	-o-transition: 0.3s all ease;
	-ms-transition: 0.3s all ease;
	transition: 0.3s all ease;		
}

/* -------------------------------------------------- */
/*	Footer
/* -------------------------------------------------- */

/* Footer top ----------------------------*/

footer a{
	color: #f4f4f4;
}
footer a:hover{
	color: #f4f4f4;
}
footer h3{
	color: #fff;
	padding-top: 0;
}
footer ul{
	padding: 0;
}
.footer_top {
	background-color: #E3E4E6;

}
.footer_top h1, .footer_top h2{
	color: #555759;
	font-size: 50px;
	line-height: 60px;
	margin-bottom: 10px;
    font-weight: bold;
}
.footer_top p{
	color: #555759;
	font-weight: 600;
	margin-bottom: 30px;
	/*font-style: italic;*/
	font-size: 20px;
	line-height: 28px;
	/*font-family: Georgia, "Times New Roman", Times, serif;*/
}
.footer_top .button{
    margin: 0 15px;
	margin-bottom: 20px;
}


/* Footer Medium --------------------------*/

.footer_medium {
	background-color: #555759;
	background: #555759 ;
	position: relative;
}
.footer_medium:after{
   	-webkit-transition-duration: 0.3s;
	content: '';
	right: 50%;
	margin-right: -20px;
	top: 0;
	position: absolute;
	z-index: 999;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
}
.testimonials{
	background: #353738;
	padding: 10px 20px;
	position: relative;
}
.testimonials:before{
	content: '';
	left: 20%;
	bottom: -15px;
	position: absolute;
	z-index: 999;
	 border-color: transparent #353738
                transparent transparent;
  	border-style: solid;
  	border-width: 0 35px 15px 0;
}
.testimonials p{
	color: #f4f4f4;
	font-size: 14px;
	line-height: 22px;
	margin: 0;
}
.testimonial_autor{
	color: #f4f4f4;
	padding: 20px 0 0 0;
	font-style: italic;
	text-align: right;	
}
.tags{
	margin: 0;
	list-style: none;
}
.tags li{
	display: inline-block;
	background: #353738;
	padding: 2px 10px;
	margin: 5px;
	font-size: 14px;
	-webkit-transition: 0.3s all ease;
	-moz-transition: 0.3s all ease;
	-o-transition: 0.3s all ease;
	-ms-transition: 0.3s all ease;
	transition: 0.3s all ease;	
}
.tags li:hover{
	cursor: pointer;
	-webkit-transition: 0.3s all ease;
	-moz-transition: 0.3s all ease;
	-o-transition: 0.3s all ease;
	-ms-transition: 0.3s all ease;
	transition: 0.3s all ease;	
}
.section_area{
	padding: 50px 0;
}
.footer_down {
	background-color: #353738;
	padding: 15px 0;
}
.footer_down p{
	margin: 0;
	padding: 0;
	color: #fff;
	padding-top: 5px;
}
/* Contact Footer -------------------------------------------*/

ul.contact_footer{
	margin: 0;
}
ul.contact_footer li{
	margin:0 0 7px 0;
	list-style: none;
	color: #fff;
	font-weight: bold;
}
ul.contact_footer li a{	
	color: #fff;
	font-weight: normal;
}
ul.contact_footer li i{
	padding-right: 10px;
}

.links ul{
	margin: 0;
}
.links li{
	/*border-bottom: 1px solid #3e3e3e;*/
	color: #fff;
	padding-bottom: 5px;
	/*line-height: 35px;*/
    line-height: 28px;
}
.links li:last-child{
	border: 0;
}	
.links li a{
	display: block;
}

/* Contact  ----------------------------*/

.map_area{	
	width: 100%;
	height: 450px;
	z-index: -1;

}
.map_area iframe{
	width: 100%;
	height: 100%;
	border:0;
}
#form input,
#form select,
#form-coment input{
	width: 100%;
	height: 35px;
	margin-bottom: 20px;
	font-size: 13px;
	padding: 5px 10px;
	border:solid 1px #dedede;
}
#form textarea,
#form-coment textarea{
	width: 100%;
	font-size: 13px;
	padding: 5px 10px;
	border:solid 1px #dedede;
	height: 130px;
}
#form .button,
#form-coment  .button{
	width: 100%;
	height: auto;
}
form{
	margin: 0;
}

/* Agents -------------------------------*/

.item_agent{
	margin-bottom: 8px;
}
.item_agent .image_agent img{		
	width: 100%;	
}
.item_agent h5{
	padding-bottom: 5px;
}
.item_agent ul{
	padding: 0;
	list-style: none;
}
.item_agent ul li{
	line-height: 30px;
	font-size: 13px;
}
.item_agent ul li i{
	padding-right: 12px;
}

/* Table Princing ------------------------------*/

.item_table{		
	background-color: #fff;
	padding-bottom: 50px;
	border: 1px solid #cdcdcd;
	border-bottom: 3px solid #1e1e1e;	
	position: relative;
	text-align: center;
}
.head_table{
	color: #fff;	
	background-color: #1e1e1e;
	position: relative;	
	padding:10px 0 25px 0;
	text-align: center;
}
.head_table h1{
	color: #fff;
	margin:0;
	font-size: 22px;
	padding:0 0 8px 0;	
	border-bottom: 1px solid #666;
}
.head_table h2{
	font-size: 20px;
	margin: 0;
	border-bottom: 1px solid #666;
	padding: 10px 0;
	margin-bottom: 8px;
}
.head_table h2 span{
	font-size: 14px;
	color: #fff;
}
.head_table h5{
	margin:0;
	font-size: 16px;
	padding: 0;
	color: #fff;
	padding-bottom: 10px;
}
.item_table:after{
	content: '';
	left: 50%;
	margin-left: -25px;
	bottom: 0;
	position: absolute;
	border-bottom: 30px solid #1e1e1e;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
}
.head_table:after{
	content: '';
	left: 50%;
	margin-left: -25px;
	bottom: 0;
	position: absolute;
	border-bottom: 30px solid #fff;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
}
.item_table .color{
	background-color: #f5f4f4;
}
.item_table ul{
	margin:30px 0 30px 0;
	padding: 0;
}
.item_table ul li{
	list-style: none;
	border-top: 1px solid #ddd;
	text-align: center;
	padding: 10px 0;
}
.item_table .button{	
	padding: 10px 35px;
	-webkit-transition: 0.3s all ease;
	-moz-transition: 0.3s all ease;
	-o-transition: 0.3s all ease;
	-ms-transition: 0.3s all ease;
	transition: 0.3s all ease;	
	border-right: 3px solid #1e1e1e;
}
.item_table .button:hover{	
	color: #fff;
	-webkit-transition: 0.3s all ease;
	-moz-transition: 0.3s all ease;
	-o-transition: 0.3s all ease;
	-ms-transition: 0.3s all ease;
	transition: 0.3s all ease;	
}

.item_table_resalt{		
	background-color: #fff;
	padding-bottom: 50px;		
	position: relative;
	margin-top: -15px;
	text-align: center;
}
.item_table_resalt:after{
	content: '';
	left: 50%;
	margin-left: -25px;
	bottom: 0;
	position: absolute;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
}
.item_table_resalt .head_table{
	padding-top: 25px;
}
.item_table_resalt .head_table h2{
	color: #fff;
	border-bottom: 1px solid #eee;
}
.item_table_resalt .head_table h1{
	color: #222;
	border-bottom: 1px solid #eee;
}
.item_table_resalt .head_table h5{
	color: #222;	
}
.arrow_table_yellow{
	background: url("../img/img-theme/arrow_table_yellow.png") no-repeat center center;
	left: 0;
	height: 26px;
	position: absolute;
	bottom: 0;
	width: 100%;
}


/*About ------------------------*/

.solutions h2{
	margin-bottom: 10px;	
}
.image_solutions{
	position: relative;
}
.image_solutions img{
	width: 100%;
}
.title_solutions{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 96%;
	background: #000;
	background: rgba(0,0,0,0.8);
	padding: 10px 2%;
}
.title_solutions h5{
	color: #fff;
	font-style: italic;
	padding: 0;
}
.title_solutions h3{
	padding: 0;
}

/* Item Team -------------------------------------------*/

.item_team{
	background-color: #fdfdfd;
	position: relative;
	border: solid 1px #ddd;	
	/*padding-bottom: 25px;*/
    padding-bottom: 0px;
	margin: 0 auto 20px auto;	
	max-width: 380px;	
}
.item_team .image_team{
	position: relative;
	overflow: hidden;
}
.image_team:after{
   	-webkit-transition-duration: 0.3s;
	content: '';
	right: 50%;
	margin-right: -20px;
	bottom: 0;
	position: absolute;
	z-index: 999;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	/*border-bottom: 20px solid #fff;*/
}
.item_team:after{
   	-webkit-transition-duration: 0.3s;
	content: '';
	right: 50%;
	margin-right: -20px;
	bottom: 0;
	position: absolute;
	z-index: 999;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
}
.item_team .image_team img{
	width: 100%;
}
.item_team:hover img{	
	 -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: 0.3s all ease;
	-moz-transition: 0.3s all ease;
	-o-transition: 0.3s all ease;
	-ms-transition: 0.3s all ease;
	transition: 0.3s all ease;
	opacity: 0.7;
	cursor: pointer;
}
.item_team .info_team h4{
	border-bottom: 1px solid #cdcdcd;
	margin-bottom: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 10px;
}
.item_team .info_team h4 span{
	font-size: 12px;
	font-style: italic;
	border-left: 2px solid #cdcdcd;
	margin-left: 10px;
	padding-left: 10px;
}
.item_team .social{
	display: table;
	margin: 15px auto;
	list-style: none;
}
.item_team .social li{
	display: inline-block;
	margin: 0 10px;
}

.arrow_team_gray{
	background: url("../img/img-theme/arrow_team_gray.png") no-repeat center center;	
	height: 17px;
	left: 0;
	position: absolute;
	bottom: 0;
	width: 100%;
}
.arrow_team_white{
	background: url("../img/img-theme/arrow_team_white.png") no-repeat center center;
	left: 0;
	height: 17px;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.register input,
.register select{
	border-radius: 0;
	height: 40px;
	width: 100%;
	font-size: 13px;
	padding: 5px 10px;
	margin-bottom: 30px;
	border: 1px solid #dedede;
}
.register textarea{
	width: 100%;
	height: 100px;
	border: 1px solid #dedede;
	font-size: 13px;
	padding: 5px 10px;
	margin-bottom: 30px;
}
.register .button{
	height: auto;
	width: auto;
	float: right;
	margin:-7px 15px 0 0;
}
.custom_input_file {
    overflow: hidden;
    position: relative;
    cursor: pointer;
    text-align: center;
}
.custom_input_file i{
	font-size: 5.5em;
}
.custom_input_file img{
    width: 100%;
}
.custom_input_file .input_file {
    margin: 0;
    padding: 0;
    outline: 0;
    font-size: 10000px;
    border: 10000px solid transparent;
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    right: -1000px;
    top: -1000px;
    cursor: pointer;
}


/* Blog ------------------------------------------------*/

.post{
	padding-bottom: 50px;
	margin:0px 0 30px 0;
	/*margin-left: -10px;*/
	border-bottom: 1px solid #cdcdcd;
}
.post h2{
	padding:0 0 5px 0;
    -webkit-transition: 0.3s all ease;
	-moz-transition: 0.3s all ease;
	-o-transition: 0.3s all ease;
	-ms-transition: 0.3s all ease;
	transition: 0.3s all ease;
}
.post h2:hover{
	-webkit-transition: 0.3s all ease;
	-moz-transition: 0.3s all ease;
	-o-transition: 0.3s all ease;
	-ms-transition: 0.3s all ease;
	transition: 0.3s all ease;
}
.image_post{
	position: relative;
	overflow: hidden;
}
.image_post ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
.image_post .icons_detail{
    background-color: #555759;
    padding: 5px 8px;
}
    .image_post .icons_detail ul li{
        background:none !important;
    }

.image_post ul li{
	padding: 5px 12px;
	text-align: center;
	display: inline-block;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}
.image_post ul li i{	
	color: #fff;
	font-size: 14px;		
}
.image_post ul li:last-child{
	border: 0;
}
.image_post .image_detail {
    overflow: hidden;
}
.image_post .image_detail img{
	width: 100%;
	-webkit-transition: 0.3s all ease;
	-moz-transition: 0.3s all ease;
	-o-transition: 0.3s all ease;
	-ms-transition: 0.3s all ease;
	transition: 0.3s all ease;
}
.image_post .image_detail img:hover{
	-moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: 0.3s all ease;
	-moz-transition: 0.3s all ease;
	-o-transition: 0.3s all ease;
	-ms-transition: 0.3s all ease;
	transition: 0.3s all ease;
	opacity: 0.7;
}
.meta{
	padding: 0;
	list-style: none;
	margin-bottom: 5px;
}
.meta li{
	display: inline-block;
	font-style: italic;
}
.meta .author{
	border-right: 1px solid #cdcdcd;
	padding:0 10px 0 6px;
	margin-right: 5px;
}
.paginations{
	margin: 20px 0 0 0;
	/*overflow: auto;*/
	padding: 0;
	list-style: none;
}

.paginations a:hover{
	 -webkit-transition: 0.3s all ease;
	-moz-transition: 0.3s all ease;
	-o-transition: 0.3s all ease;
	-ms-transition: 0.3s all ease;
	transition: 0.3s all ease;
}
.paginations a{
    display: inline-block;
    padding: 5px 15px;
    margin-right: 7px;
    background-color: #1e1e1e;
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -ms-transition: 0.3s all ease;
    transition: 0.3s all ease;
	color: #fff;
}

aside{
	border-bottom: 1px solid #cdcdcd;
	margin-bottom: 10px;
	padding-bottom: 30px;
}
aside .tags{
	padding: 0;
}
aside:last-child{
	border: 0;
}
aside h4{
	padding-top: 0;
}
aside .tags li a{
	color: #fff;
}
aside .tags{
	padding-bottom: 20px;
}
aside .check li{
	line-height: 30px;
}
aside .searchform input{
	width: 100%;
	border: solid 1px #dedede;
	padding: 5px 10px;
	font-size: 13px;
}
aside .searchform .button{
	width: auto;
	padding: 5px 15px;
}
.single .image_post{
	margin-bottom: 30px;
}
.single{
	margin-left: 0 !important;
}
.comment{
	border-bottom: 1px solid #cdcdcd;
	margin: 20px 0 30px 0;
	padding-bottom: 30px;
}
.comment p{
	margin: 0;
}
.image-visitor {	
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background: #888;
	border: solid 4px white;
	overflow: hidden;
	-webkit-box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.15000000000000002);
	-moz-box-shadow: 2px 2px 15px rgba(0,0,0,0.15000000000000002);
	box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.15000000000000002);
	-webkit-transition: all .4s ease-out;
	-moz-transition: all .4s ease-out;
	transition: all .4s ease-out;
}
.image-visitor img{
	width: 100%;
}
.title_comment{
	margin-bottom: 10px;
}
.comment:last-child{
	border:0;
	margin-bottom: 0;
}
.title_comment span{
	padding-right: 10px;
	font-style: italic;
	font-size: 18px;
}
.form_comment input{
	width: 100%;
	font-size: 13px;
	border:solid #dedede 1px;
	padding: 5px 10px;
	margin-bottom: 10px;
	height: 35px;
}
.form_comment textarea{
	width: 100%;
	margin-top: 10px;
	height: 200px;
	font-size: 13px;
	border:solid #dedede 1px;
	padding: 5px 10px;
}
.form_comment .button{
	display: block;
	margin-top: 20px;
	width: auto;
	height: auto;
}
.footer_property {
    background-color: #555759;
    margin-top: 14px;
    padding: 5px 10px;
    height: 36px;
    overflow: hidden;
}
    .footer_property .icon{
        float: left;
        color: #fff;
        margin:0 .42em;
        font-size: .9em;
        display: inline-block;
    }
        .footer_property .icon i{
            float: left;
            margin-right: 5px;
            margin-top: 4px;
            position: relative;
        }

.stand_out {
    background-color: #cceffc;
}
.stand_out_project{
    background-color: #FFF69E;
}
.line_separator{
    height: 1px;
    width: 100%;
    background-color: #E6E6E6;
}
.title_menu {
    margin-top: 2em;
    text-align: right;
}

.select_background{
    background: url("../img/icons/arrow.gif") no-repeat #fff;
    background-position: center right;
    width: 96%;
    padding: 4px 5px;
    overflow: hidden;
}
.select_background select{
    background: transparent;
    border: none;
    width: 116%;
}



.item_property a h5{
    transition: all 0.5s ease 0s;
}

.item_property .av-portfolio-overlay {
    position: absolute;
    text-align: left;
    bottom: -13em;
    transition: all 0.5s ease 0s;
    width: 100%;
    padding-bottom: 24px;
    padding-left: 16px;
    background-color: rgba(0,0,0,0.6);
    padding-top:60px;
}

.item_property .av-portfolio-overlay .av-icon {
    background-color: #00AEEF;
    border-radius: 50px;
    color: #fff;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin: 8px 0px 0;
    text-align: center;
    width: 40px;
    margin-right: 4px;
}
    .av-portfolio-overlay a{
        display: block;
        font-size: .9em;
        color: #fff !important;
        font-weight: bold;
        width: 83%;
    }
        .av-portfolio-overlay a:hover{

        }

        .av-portfolio-overlay a:hover i{
            background-color: #999999 !important;
        }

.item_property .av-portfolio-info {
    background-color: rgba(0,0,0,1);
    top: -6em;
    padding: 5px 0;
    position: absolute;
    text-align: center;
    transition: all 0.5s ease 0s;
    width: 100%;
}
    .item_property .av-portfolio-info img{
        width: auto !important;
    }


.item_property{ /*width: 100% !important;*/ }
.map-info-window-opacity {
    filter:alpha(opacity=50); //IE
    opacity: 0.5;
}


.project_item img{ width: 100%; }
.project_item h4{
    padding: 3px 0;
    margin-bottom: 0;
}
.project_item strong{ font-weight: 600; }
.filter_title{color: #fff; margin: 0; padding: 7px 0; text-align: right;}
.filter_horizontal input{ margin-top: 0; }
.publicar, .login{ /*right: 12%;*/ position: relative; z-index: 10;}

.favorito{
    float: right;
}
    .btn_favorite{ cursor: pointer; }
    .favorito i{
        background-color: #4bcfff;
        border-radius: 40px;
        color: #fff;
        display: inline-block;
        height: 30px;
        line-height: 31px;
        margin: 15px 5px 0 0;
        text-align: center;
        width: 30px;
    }
    .favorito span{
         display: none;
     }
    .check_favorite i{
        color: #ffff00 !important;
    }

.map_static img{ width: 100%; }
#col-detail h4, .similar-publishment{
    color: #00aeef;
    border-bottom: 1px #E6E6E6 solid;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
#col-detail .col-md-4 img{
    width: 100%;
}
.price{
    position: absolute;
    left: 0;
    bottom: 45px;
    z-index: 10;
    width: 100%;
    padding: 15px 2%;
    background: rgba(0,0,0,0.6);
}
.modal_detail{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: #fff;
    display: none;
    overflow-x: hidden;
    overflow-y: auto;
}
.modal_close{
    display: none;
    cursor: pointer;
}
.show-on-map {
    color: #2a2a2a;
    position: absolute;
    right: 4%;
    text-align: center;
}
.show-on-map .fa {
    color: #1396e2;
    font-size: 24px;
}
dl dt {
    float: left;
}
dl dd {
    margin-bottom: 8px;
    text-align: right;
}
#agent-detail dl dt{ line-height: 20px; }
#agent-detail p{
    font-family: "Arial",sans-serif;
    opacity: 0.7;
}
#agent-detail address{ padding-right: 50px; }
#agent-detail figure img{ max-width: 100%; margin-top: 10px; }
#agent-detail{ font-size: 14px; }
#agent-detail .agent-social .btn {
    width: 36px;
}
#agent-detail dd a{
    color: #1396e2;
    outline: medium none !important;
    transition: all 0.2s ease 0s;
}
#agent-detail p a, #col-detail p a{
    color: #00aeef;
}
#project_detail h3{
    border-bottom: 1px solid #e6e6e6;
    color: #00aeef;
    margin-bottom: 10px;
    padding-bottom: 5px;
}
#box_contact_agent select{
    background-color: #fff;
    border: 1px solid #dedede;
    border-radius: 0;
    color: #222;
    height: 35px;
    width: 100%;

    font-size: 13px;
    margin-bottom: 20px;
    padding: 5px 10px;

}
#slide_projects{ height: 408px; }
.imagen_video{
    overflow: hidden;
}
.icon_play{
    position: absolute;
    top: 38%;
    text-align: center;
    width: 100%;
}
.proyecto_logo{
    position: absolute;
    top: 0;
    left: 5%;
    z-index: 9999;
    text-align: center;
}
.no_link, .no_link:hover, .no_link:active, .no_link:visited, .no_link:link{
    color: #333 !important;
    text-decoration: none !important;
}
#project_detail .map_area { height: 300px !important; margin-bottom: 15px; }
.volver_atras{
    display: block;
    font-weight: 600;
    margin: 0 !important;
    text-align: center;
    width: 100%;
}
section.sort {
    display: inline-block;
    float: right;
    position: relative;
    z-index: 2;
    margin-top: -48px;
}
#sort-type{
    background-color: transparent;
    color: #555;
    font-size: 14px;
    font-weight: bold;
    height: 33px;
    padding-left: 29px;
    width: 0;
    border: 0;
    background-image: url("../img/icons/search-result-pdp.png");
    background-position: -29px 0;
    background-size: 319px auto;
}

#layout-list-favorites .col-md-4 img{
    width: 100%;
}
#layout-list-favorites .col-md-8 a{
    color: #00aeef;
}
#layout-list-favorites a.delete_favorite{
    font-size: 14px;
    text-decoration: underline;
}
#layout-contact iframe{ width: 100%; height: 250px; }
.modal h4 {
    margin: 0;
    padding: 0;
}
.modal input{
    border: 1px solid #dedede;
    border-radius: 0;
    font-size: 13px;
    height: 40px;
    padding: 5px 10px;
    width: 100%;
}
#layout-preguntas .titles, #layout-privacidad .titles, #layout-pagos .titles, #layout-tutoriales .titles{
    margin-top: 25px !important;
}
#layout-pagos .col-md-8 img{
    width: 100%;
}
#layout-search-mobile #results_publications .col-md-6{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.btn.btn-grey-dark{
    background-color: #2a2a2a;
    color: #fff;
}

.btn{
    background-color: #f3f3f3;
    border: medium none;
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    color: #5a5a5a;
    font-size: 14px;
    outline: medium none !important;
    padding: 10px 9px 9px;
    transition: all 0.3s ease 0s;
    width: auto;
}




/* VIDEO EMBEBED */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.entry-content img,
.entry-content iframe,
.entry-content object,
.entry-content embed {
    max-width: 100%;
}

.button_landing a{
    line-height: 20px;
    padding: 30px 10%;
    display: block;
    color: #fff;
    background-color: #14BAF1;
}
    .button_landing a:hover{
        background-color: #31C2F2;
        color: #fff;
    }
    .button_landing span.title_landing{
        font-size: 45px;
        display: block;
        line-height: 60px;
    }
    .button_landing span.description_landing{
        line-height: 24px;
    }

.link_direct ul{
    display: none;
    width: 100%;
    position: absolute;
    top: 40px;
    left: 0;
    margin: 0;
    padding: 0;
}
    .link_direct .desea_publicar:hover ul{
        display: block;
    }
    .link_direct ul li{
        background-color: #ccc;
        list-style: none;
        margin: 0;
        font-size: 14px;
    }
    .link_direct ul li a{
        padding: 5px 10px 8px 10px;
        display: block;
    }
    .link_direct ul li:hover{
        background-color: #f1f1f1;
    }

.logo h1{ padding-bottom: 46px; }

ul.breadcrumb {
    margin-bottom: 0px;
    background: white;
}

.header-content {
    position: relative;
}

.breadcrumbs-content {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 14px;
    text-align: right;
}

.breadcrumbs-content li a{
    color: #00ADEE;
}

.icon_certificado{
    position: absolute;
    right: 13px;
    top: 71%;
}

.footer_property.more-info {
    margin-top: 41px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    background: #00AEEF;
    font-size: 13px;
    cursor: pointer;
    color: white;
    font-weight: bolder;
}

.info_property_description {
    font-size: 13px;
    text-align: center
}

.info_property.stand_out.info_description {
    padding: 15px 0px 36px 0px;
    background: #EEEEEE;
    border: 0px;
}

.banner_home_mobile{
    display: none;
}





.search-result{
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #EFF0F2;
}
.search-result.div-marker{
    overflow: hidden;
    position: relative;
    height: auto;
    padding: 0;
    right: inherit;
    top: 0;
    width: inherit;
}
.search-result .detalles {
    color: #000;
    margin-left: 12px;
    font-family: "Open Sans",sans-serif !important;
}
.search-result .enlace{
    margin-top: 6px;
}
.search-result #dPropertiesList li:hover .inmueble{
    background-color: #f5f5f5;
}
.search-result .topBarResultados {
    background-color: #F1F1F1;
    margin-top: -34px;
    position: fixed;
    width:450px;
}
.search-result .foto-lista{
    height:100px;
    width: 130px;
}
.foto-item {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: relative;
    overflow: hidden;
}
.foto-item img {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    z-index: 0;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    max-width: 100%;
    height: auto;
    display: block;
}

.search-result .foto-lista .oferta{
    font-size: 11px;
    line-height: 17px;
    color: #F2f2f2;
    position: absolute;
    bottom: 5px;
    width: 130px;
    padding-left: 5px;
    background-color: rgba(0, 0, 0, 0.56);
    z-index: 1;
}

.search-result .foto-lista .vendida{
    font-size: 11px;
    line-height: 17px;
    color: #F2f2f2;
    display: inline;
    position: absolute;
    bottom: 22px;
    width: 130px;
    padding-left: 5px;
    background-color: rgba(179, 2, 49, 0.82);
}

.search-result .bottomBarResultados{
    font-size: 18px;
    font-weight: 200;
    background-color: #FDFDFD;
    padding: 5px;
    padding-left:10px;
    border-top: 1px solid #f1f1f1;
}

.search-result .detalles .acciones{
    margin-top:5px;

}

.search-result .detalles .precio{
    font-size:18px;
    color: #00adee;
    width:160px;
}

.search-result .detalles .acciones .botones{
    float:right;
    display:inline;
}

.search-result .detalles .fecha{
    font-size:10px;
    color: #bababa;
    font-weight: normal;
    float:right;
}

.search-result .detalles .servicios{
    font-size: 14px;
    color: #66606D;
    margin-top:5px;
}

.search-result .detalles .servicios span{
    margin-right: 10px;
}

.search-result .detalles .direccion{
    font-size:14px;
    line-height: 14px;
    margin-top:5px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}

.search-result .detalles .zona{
    font-size:12px;
    line-height: 12px;
    margin-top:2px;
}

.search-result .list-group-item{
    padding:0px;
}
.search-result .inmueble{
    background-color: #ffffff;
    height:110px;
}

.search-result .col-left{
    width:129px;
    padding-top: 5px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-left: 5px;
    vertical-align: top;
    display:inline-block;
}

.search-result .col-left-6{
	width:50%;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 5px;
	vertical-align: top;
	display:inline-block;
}

.search-result .col-right{
    width:290px;
    padding:5px;
    vertical-align: top;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    display:inline-block;
}

.search-result .col-right-6{
	width:45%;
	padding:5px;
	vertical-align: top;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	display:inline-block;
}

.search-result .adsResults{
    height:145px;
    background-color:#FFFFFF;
}

.search-result .adsImage{
    margin:7px;
}
.facebook-share-button-style{
	line-height: 0.9;
}