.tet-tooltip {
    display: none;
    position: absolute;
    border: 1px solid #333;
    background-color: #5F5F5F;
    border-radius: 5px;
    padding: 2px;
    color: #fff;
    font-size: 12px;
    left: -180px;
    top: -10px;
    right: 37px;
}