/* ---------------------------------------------------------------------- */
/*	 0.4 Version 1024px
/* ---------------------------------------------------------------------- */

@media handheld, only screen and (max-width: 1319px) {
    .sf-menu > li > a { padding: 0.6em 2.3em !important; }
    .filters_top{ text-align: right !important; padding-top: 60px; }
    .head_property h5{display: none;}
}

@media handheld, only screen and (max-width: 1280px) {

    .search_contact .bg_header{
        max-width: 980px;
        left: 50%;
        margin-left: -490px;
        margin-top: 4%;
    }
    .search_contact .bg_header,
    .search_contact .search_box{
        width: 980px;
        max-width: 100%;
    }
    .camera_caption h1{
        font-size: 28px !important;
        line-height: 38px !important;
    }
    .camera_caption p{
        line-height: 26px !important;
        font-size: 16px !important;
        max-width: 450px !important;
    }
    .camera_caption h1:before{
        border-width: 70px 65px 0 0 !important;
        /* Posicionamiento del Triángulo */
        left: -65px !important;
        top: -webkit-calc(50% - 35px) !important;
    }
    .jBar .botton{
        padding: 8px 10px;
        font-size: 13px;
    }
    .image_property_h{
        top: -10%;
    }
    .info_service p{
        font-size: 13px;
        line-height: 18px;
    }
    .item_service .image_service{
        padding: 15px;
        width: 65px;
        height: 65px;
    }
    .item_service i{
        font-size: 20px;
    }
    .content_info{
        max-width: auto;
        padding: 20px 20px 40px 20px;
    }

    /* CUSTOM */

}

@media handheld, only screen and (max-width: 1198px) {
    .sf-menu > li > a { padding: 0.6em 1.6em !important; }
}

/* ---------------------------------------------------------------------- */
/*	 0.5 Version 1000px
/* ---------------------------------------------------------------------- */

@media handheld, only screen and (max-width: 1024px) {

    .logo img {
        display: block !important;
        position: relative !important;
    }
    /*.camera_caption h1,*/
    .camera_caption p,
    /*.camera_caption ul,*/
    /*.camera_caption .more,*/
    #theme-options{
        display: none !important;
    }
    .container{
        width: auto;
    }
    nav{
        position: relative;
    }
    header{
        overflow: visible;
    }
    .search_contact .bg_header{
        max-width: 980px;
        left: 50%;
        margin-left: -490px;
        margin-top: 4%;
    }
    .search_contact .bg_header,
    .search_contact .search_box{
        width: 980px;
        max-width: 100%;
    }

    .map_area{
        width: 100%;
        height: 650px;
        z-index: -1;
    }
    .bg_header{
        position: absolute;
        margin-top: 10% !important;
        width: 60%;
        max-width: 500px !important;
        z-index: 2;
        left: 50px !important;
    }
    .content_info{
        max-width: auto;
    }
    .content_info_search{
        padding-top: 0px !important;
    }
    .item_property_h{
        overflow: hidden !important;
    }
    .item_property_h .line_property{
        position: relative !important;
        padding-left: 10px !important;
    }

    .section_title{
        padding: 20px 20px 10px 20px !important;
    }
    .section_title h1{
        font-size: 25px !important;
        line-height: 35px !important;
    }
    .section_title span{
        font-size: 13px !important;
    }
    .section_title input{
        height: 28px !important;
        margin-top: 3px !important;
        width: 98% !important;
        float: left !important;
    }
    .item_property_h{
        margin: 0 auto 30px auto !important;
        max-width: 480px !important;
    }


    /* CUSTOM */
    .av-portfolio-overlay, .av-portfolio-info, .title_menu{ display: none; }
    #menu{ width: 70%; }
    .filter_horizontal:after{ display: none; }
    .item_property ul li:first-child{ min-height: 56px !important; }

}

@media handheld, only screen and (max-width: 860px) {
    #menu{ width: 63% !important; }
    .head_property{ height: auto !important; }
    .favorito{ float: left !important; }
    .favorito i{ margin: 0 5px 0 0 !important;  }
    .favorito span{ display: inline !important; color: #333 !important; }

    /* CUSTOM */
    /*.head_property{ height: auto !important; }*/
    .logo h1{ padding-bottom: 0px; }
}

/* ---------------------------------------------------------------------- */
/*	0.5 Mobile Version 768px
/* ---------------------------------------------------------------------- */

@media handheld, only screen and (max-width: 768px) {

    .item {
        width: 95%;
        display: inline;
        margin: 10px 2.5%;
    }

    /* header ---------------------------------------------------------*/
    ul.list-option-header{margin-top: 20px;}
    .info_head{
        padding: 10px 20px;
    }
    .info_service p{
        font-size: 16px;
        line-height: 26px;
    }
    .item_service{
        margin-bottom: 60px;
    }
    .item_property,
    .item_property_h{
        margin: 0 auto 30px auto !important;
        max-width: 380px !important;
    }
    .footer_top{
        padding: 40px 20px;
    }
    .footer_medium{
        padding: 40px 20px;
    }
    .footer_down{
        padding: 10px 20px;
        text-align: center;
    }
    .footer_down .social{
        text-align: center;
        margin-top: 10px;
    }
    .testimonial_autor{
        text-align: left;
    }
    .item_service .image_service{
        padding: 20px;
    }

    .description{
        margin-bottom: 30px;
    }
    .item_agent,
    .item_table{
        margin: 0 auto;
        margin-bottom: 30px;
        max-width: 320px;
    }
    /* newsletter_box ----------------------------*/

    .newsletter_box{
        padding: 20px 20px 20px 10px;
        text-align: center;

    }
    .newsletter_box h3{
        padding:0;
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 10px;
    }
    .newsletter_box h3 span{
        font-size: 14px;
        line-height: 20px;
    }
    .newsletter_box input{
        margin: 0 auto;
        float: none;
        width: 100%;
    }
    .newsletter_box .register{
        top: 20%;
        right: 7%;
    }
    .tabs_services li{
        margin-bottom: 10px;
    }
    .sections .tabs_services{
        margin: 10px auto 0 auto;
    }


    .jBar {
        padding:0 20px;
    }
    .jRibbon {
        /*right:20px;*/
    }
    .downarrow {
        right:20px;
    }
    .jBar h1{
        padding: 0 0 20px 0;
    }
    .jBar input{
        margin-bottom: 20px;
    }
    .jBar form{
        padding: 30px 0 20px 0;
    }
    .padding_top{
        padding-top: 0;
    }
    .item_team{
        margin-bottom: 20px;
    }


    .footer_medium .testimonials{
        margin-top: 15px;
    }
    .bar_properties{
        display: none;
    }
    .thumbnail-process{
        margin-bottom: 20px;
    }
    .info_team,
    .services h3,
    .titles{
        text-align: center;
    }

    .item_service{
        max-width: 380px !important;
        margin: 0 auto 30px auto !important;
    }
    .item_service .image_service{
        width: 75px;
        height: 75px;
    }

    .sections{
        width: 90%;
    }

    #theme-options {
        left: -160px;
        top: 150px;
    }
    .post .image_post {
        margin-top: 20px;
    }
    .paginations{
        margin-bottom: 20px;
    }

    /* CUSTOM */
    .filter_horizontal{ top: -160px !important; }
    .filter_title{ text-align: left !important; }
    #menu{ float: left; width: 64%; }
    .sf-menu > li > a { padding: 0.6em 2em !important; }
    .publicar{ /*right: 20% !important;*/ }
    .project_item .col-md-6{ width: 49% !important; display: inline-block; }
    .search_advance{ margin-top: 20px; max-width: none !important; }
    .search_box{ max-width: none !important; padding: 15px 3.5% !important; }
    .icon_play{ top: 28% !important; }
    .proyecto_col_left{ display: none; }

}

@media handheld, only screen and (max-width: 720px) {
    .logo{width: 100%;}
    .logo a img{margin: auto;}
    .sf-menu > li > a { padding: 0.6em 0.6em !important; font-size: 81% !important;}
    #menu{ width: 100% !important; text-align: center;}
    /*.publicar{ display: none !important; }*/



}
@media handheld, only screen and (max-width: 1024px) {
    .head_property .swiper-container, .swiper-container { height: auto !important; }
    .head_property .swiper-container .swiper-wrapper, .swiper-container .swiper-wrapper  { height: auto !important; }
    .head_property .swiper-container .swiper-wrapper .swiper-slide, .swiper-container .swiper-wrapper .swiper-slide { height: auto !important; }
    .head_property h5{ display: none; }
}
@media only screen and (min-width: 600px) and (max-width: 1024px) {
    .head_property .swiper-container { height: auto !important; }
    .head_property .swiper-container .swiper-wrapper { height: auto !important; }
    .head_property .swiper-container .swiper-wrapper .swiper-slide { height: auto !important; }
    .head_property h5{ display: none; }
}

/* ---------------------------------------------------------------------- */
/*	0.6 Mobile Version 600px
/* ---------------------------------------------------------------------- */

@media handheld, only screen and (max-width: 600px)  {
    .titles h1{
        font-size: 25px !important;
        line-height: 50px !important;
    }

    /* CUSTOM */
    #menu{ width: 100%; }
    /*.publicar{ display: none !important; }*/
    .favorito{ margin: 0 !important; float: left !important; }
    .proyecto_logo{ display: none }
}


/* ---------------------------------------------------------------------- */
/*	0.7 Mobile Version 560px
/* ---------------------------------------------------------------------- */

@media handheld, only screen and (max-width: 568px) {

    ul.tabs li {
        float: none;
        width: 100%;
        text-align: center;
        border: 1px solid #ddd;
        border-bottom: 0;
    }
    .content_info{
        max-width: auto;
        padding: 20px 20px 40px 20px;
    }

    /* CUSTOM */
    .padding_top{ padding-top: 18px !important; }
    .filters_top{ text-align: center !important; padding-top: 5px; }
}

/* ---------------------------------------------------------------------- */
/*	0.8 Mobile Version 480px
/* ---------------------------------------------------------------------- */

@media handheld, only screen and (max-width: 480px) {

    .bg_header{
        position: absolute;
        margin-top: 10% !important;
        width: 50%;
        max-width: 380px !important;
        z-index: 2;
        left: 30px !important;
    }
    .padding-0-mobile{padding: 0px !important;}
    /* CUSTOM */
    .footer_top .button{ display: block; margin: 3px 0; }
    #menu{ padding-left: 8px !important; padding-right: 8px !important; width: 100% !important; }
    .sf-menu > li > a { padding: 0.6em .6em !important; font-size: 81% !important; }
    .properties-carousel{ padding: 30px 10px 10px 10px !important; }
    .content_info .col-md-4{ /*padding-left: 0 !important; padding-right: 0 !important;*/ }
    #slide_projects .camera_property{ display: none; }
    #agent-detail .col-md-4{ padding-left: 15px !important; padding-right: 15px !important; }
    #col-detail{ padding-left: 0 !important; padding-right: 0 !important; }
    .price{ position: static !important; padding-left: 15px !important; }

    #project_detail .col-md-12, #project_detail .col-project-info, #project_detail .col-project-form{ padding-left: 0 !important; padding-right: 0 !important; }
    #project_detail .col-md-4{padding-left: 15px !important; padding-right: 15px !important;}
    .icon_play{ top: 18% !important; }
    ul.tabs li{
        border-left:  1px solid #ddd !important;
    }
    #proyecto_det_acabado .detail{ height: auto !important; }
    .map_area{ height: 286px !important; }
    .map_area #map_canvas{ display:none; }
    .titles h1, .titles h2{ line-height: 52px !important; }
}

@media handheld, only screen and (min-width: 768px) {
    .item_property:hover .head_property img {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        -webkit-transition: 0.3s all ease;
        -moz-transition: 0.3s all ease;
        -o-transition: 0.3s all ease;
        -ms-transition: 0.3s all ease;
        transition: 0.3s all ease;
        opacity: 0.8;
    }

    #menu{
        float: left;
    }

    .description_agency{
        font-size: 14px;
        margin-bottom: 10px;
    }
    #agent-detail p a, #col-detail p a{
        font-size: 14px;
    }
}

/* ---------------------------------------------------------------------- */
/*	0.9 Mobile Version 380px
/* ---------------------------------------------------------------------- */
@media (max-width: 800px) {
  .table .btn{margin: 2.5% 0px !important; width: 48% !important; font-size: 12px !important;} 
  .table .btn.green{font-size: 11px !important; width: 98% !important;} 
  .table .btn.green, .table .btn.btn-circle{width: 98% !important;}       
}
@media (max-width: 600px) {
  .col-mobile-1{width: 100% !important; display: block;}
}

@media handheld, only screen and (max-width: 380px) {

    .logo img{
        max-width: 50%;
    }
    .tinynav{
        margin-top: -10px;
    }
    .social li{
        margin-bottom: 10px;
    }
    .item_service p{
        font-size: 13px;
        line-height: 20px;
    }
    .titles h1{
        font-size: 20px;
        line-height: 30px;
    }

    .image_property_h{
        width: 50%;
        top: 0%;
    }


    .line_property{
        font-size: 12px;
        text-align: left;
        padding-left: 5px;
    }
    .item_service .image_service{
        padding: 12px;
    }
    .footer_top h1 {
        font-size: 30px;
        line-height: 40px;
    }
    .footer_top p{
        font-size: 14px;
        line-height: 24px;
    }
    .content_info{
        max-width: auto;
        padding: 20px 20px 40px 20px;
    }

    /* CUSTOM */
    .sf-menu > li > a { padding: 0.6em 0.6em !important; font-size: 81% !important; }
    .head_property{ height: auto !important; }
    .content-carousel{ margin-left: -15px; margin-right: -15px; }
    .formulario_busqueda{ width: 100%; }
    #toPhone, #toMail, #toMarker, #toWhatsapp{display: block !important;}
    .favoritos{ display: none; }
    .banner_home{ display: none; }
    .banner_home_mobile{
        display: block !important;
    }
}

/* ---------------------------------------------------------------------- */
/*	0.9 Mobile Version 320px
/* ---------------------------------------------------------------------- */

@media handheld, only screen and (max-width: 480px) {
    #layout h1{
        padding-bottom: 15px !important;
    }
}

@media handheld, only screen and (max-width: 320px) {
    /* CUSTOM */
    .sf-menu > li > a { padding: 0.6em .6em !important; font-size: 81% !important; }
    .head_property{ height: auto !important; }
}
@media handheld, only screen and (max-width: 300px) {
    /* CUSTOM */
    .sf-menu > li > a {font-size: 65% !important; }
    .head_property{ height: 155px !important; }
}