/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/

#tab_images_uploader_pickfiles, #tab_images_uploader_uploadfiles{ margin-bottom: 6px; }

.form-group-clear {
    padding: 0 4px;
    border: 2px solid #E8E6E3;
    border-radius: 4px !important;
}

.form-group-clear:hover {
    border-color: #73716E;
    cursor: pointer;
}

.show-payment-principal {
	display: none;
}

.show-payment-similares {
    display: none;
}

.show-payment-banner {
	display: none;	
}

.show-payment-busqueda {
	display: none;
}

.accordion-header-active {
    background: #89C4F4;
}

.show-payment-anuncio {
    display: none;
}

#html_pagos .col-md-3 img, #html_pagos .col-md-4 img{
    width: 100%;
}

#site_activities > div.legend > div {
    display: none;
}

#site_activities > div.legend > table {
    width: auto !important;
    top: -9px !important;
    left: 25px !important;
    right: 0; !important;
}
#site_activities > div.legend > table > tbody > tr{
    cursor: pointer !important;
}
#site_statistics > div.legend > div {
    display: none;
}

#site_statistics > div.legend > table {
    width: auto !important;
    top: 0px !important;
    left: 25px !important;
    right: 0; !important;
}

#pie_chart_3 > canvas.flot-base {
    cursor: pointer !important;
}

.dashboard-stat.orange-gray {
    background-color: #F79310;
}

.dashboard-stat.orange-light {
    background-color: #FBB03F;
}

.dashboard-stat.orange-super-light {
    background-color: #EDC240;
}

.color-white {
    color: white;
}
     /*
#pie_chart_2 > div.legend > div {
    display: none;
}

#pie_chart_2 > div.legend > table {
    width: auto !important;
    top: 0px !important;
    left: 25px !important;
    right: 0; !important;
}  */