.flechas1
{
	float:right;
	color: #FF0000;
}

.tabla_pagina
{
	border:1px solid #CCCCCC;
}

border:1px solid #CCCCCC;


#contenido_reporte{
background-color:#FFFFFF; 
width:95%;
clear:both;  
width:95%;
}

select.combo_busqueda{
	border:1px solid #DEDEDE;
	color:#DEDEDE;
	background-color:#FFFFFF;
}

td.busqueda_cabecera{
	background-color:#DEDEDE;
	text-align:center;
	color:#005C96;
	font-size: 11px;
	padding:5px 0 5px 0;
}

td.busqueda_enlace{
	background-color:#FFFFFF;
	text-align:left;
	color:#005C96;
	
}

td.cabecera_contenedor{
	background-color:#DEDEDE;
	text-align:left;
	color:#005C96;
	
}

tr.busqueda_campos{
	background-color:#FFFFFF;
	color:#005C96;
	
}

tr.busqueda_campos2{
	background-color:#FFFFFF;
	color:#005C96;
	
}

tr.fila_blanca{
	background-color:#FFFFFF;
	color:#005C96;
	text-align:left;
	font-size: 11px;
}

tr.fila_gris{
	background-color:#f4f4f4;
	color:#005C96;
	text-align:left;
	font-size: 11px;
}



tr.busqueda_campos:hover{
	background-color:#f9e48c;
	color:#bf5900;
	
}

tr.busqueda_filtro{
	
	color:#005C96;
		font-size: 12px;
	
}


.botongrande{
	color:#82d5ff;
	background:#035294;
	border:1px solid #2086b4;
	text-align:center;
	
	width:120px;
}

#formulario_de_filtro{
	display:none;
	width:99.6%;
}

tr.busqueda_paginar{
	
	color:#005C96;
	font-size: 12px;
	
}
.textologin{
	font-family: "Lucida Bright", "Lucida Sans Typewriter", "Lucida Console";
	font-size: 11px;
	color: #666666;
	text-indent: 5px;
	font-weight: bolder;
}

.IconUsu{
	margin:0px 0px 5px 35px;
	
}
.campodetexto{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #333333;
	height: 30px;
	width: 255px;
	vertical-align: middle;
	display: inline;
	margin: 3px;
	border: 1px solid #CCCCCC;
	padding: 5px;
	font-weight: bolder;
}

.botonlogin{
	display: inline;
	padding: 0px;
	height: 28px;
	width: 90px;
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #FFFFFF;
	border-bottom-color: #CCCCCC;
	border-left-color: #FFFFFF;
	background-color: #E3E4E8;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
}

* {
  margin: 0;
  padding: 0;
}

img {
	display: block;
}


/* Contenedor*/

#Contenedor{
	width: 1000px;
	margin:0 auto;
	padding-bottom: 10px;
	min-height: 550px;
	height: auto !important;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	background-color:#edeff4;
}

#Cabecera {
	background-color: #215d9a;
	height: 42px;
	width: 100%;
	border-bottom: 1px solid #122652;
}
#Pie {
	font-family: "Lucida Grande", tahoma;
	font-size: 10px;
	color: #666666;
	border: 1px solid #9BA7C1;
	padding: 5px;
	text-align: center;
	width: 990px;
	clear:both;
}

#Cuerpo{

	width:99%;
	margin:5px;
}

#Cuerpo .fila_formulario_cabecera{
	text-align:left;
	padding:2px 5px;
	font:14px Tahoma;
}

 #CajaUsuario img {
	border: 1px 1 #3D64B6;
}

 #ContenedorSeleccion {
    float:left; 
	width:95%;
	padding: 5px;
	border:1px dashed #8ec2ea;
	background: #FFF url(../imagenes/tablaFondo_01.gif) 0 0 repeat-x;
}

 #ContenedorDiv{
    float:left;
	height:auto;
	margin-left:5px; margin-bottom:5px;
	width:100%;
	background-color:none;
}

#ContenedorDivSec{
    float:left;
	height:auto;
	margin-left:5px; margin-bottom:5px;
	width:auto;
	background-color:none;
}

#ContenedorDivSec .Etiqueta1{
   width:auto; float:left;
   margin-left:10px;
}

.Titulo {
	font-size: 12px;
	font-weight: bold;
	width: auto
!important;;
	float: left;
}
.IconBuscar {
	margin-left: 5px;
	float: left;
}
.Subtitulo {
	font-size: 12px;
	font-weight: bold;
	color: #005c89;
	margin-top:5px;
	float:left;
	padding:5px 10px 5px 10px;
	background:#94cbe6;
}

.Subtitulo a{
    font-size: 11px;
	font-weight: bold;
	color: #999999;
	margin-top:5px;
	float:left;
	text-decoration:none;
}



.Etiqueta{
	color:#005c89;
    width:150px;
    text-align:right;
	padding:3px;
	float: left;
}

 #CajaMenuTop .BotonSalir {
	font-weight: bold;
	width: auto;
	display: inline;
	float: left;
	margin-left: 0px;
	font-size: 11px;
	margin-right:0px;
}
 #CajaMenuTop .BotonSalir img {
	margin-right: 5px;
}

#CajaParametro{
	display:inline;
	width:90%;
	margin:5px;
	float:left;
}

#CajaParametro .TituloParametro a{
	display:inline;
	float:left;
	font:10px tahoma;
	font-weight: bold;
	padding:3px 5px;
	background-color: #FFFFFF;
	border: 1px solid #ccc;
	text-decoration:none;
	margin-right:3px;
	color:#0A6DC2;
}

#CajaParametro .TituloParametroSelect a{
	display:inline;
	float:left;
	font:10px tahoma;
	font-weight: bold;
	padding:3px 5px;
	background-color: #DEDEDE;
	border: 1px solid #ccc;
	text-decoration:none;
	margin-right:3px;
	color:#0A6DC2;
}

#CajaParametro .TituloParametro a:hover{
	background-color: #0A6DC2;
	color:white;
}


 #Contenedor_buscar_nuevo {
	background-color: #FFFFFF;
	width: 99.6%;
	display: block;
	height: auto;
	float: left;
	margin: 2px;
}
 #Contenedor_busqueda {
	padding: 5px;
	height: auto;
	width: 98.5%;
	background-color: #FFFFFF;
	/* border: 1px solid #1e82d7; */
	float: left;
	margin-top: 0px;
	margin-right: 2px;
	margin-bottom: 2px;
	margin-left: 2px;
}

 #Contenedor_NuevaSentencia #CabeceraSent #DatosUsu {
	float: left;
	width: auto;
}


 #Contenedor_NuevaSentencia #Cabecera {
	width: 99%;
}
 #CabeceraSent {
	float: left;
	width: 99%;
}






 select{
	border: 1px solid #C0C0C0;
	font-size: 10px;
	padding: 1px;
}


 #Contenedor_busqueda #form1 #ContenedorTribunal {
	float: left;
	width: auto;
	margin: 0px 3px 0px 0px;
	height: 20px;
}
 #CajaInput,  #CajaInput select,  #CajaInput img{
	float:left;
	display:inline; 
}

 #Contenedor_busqueda  #ContenedorFecha {
	float: left;
	width: 260px; _width: 290px; #width: 290px;
	margin: 0px 3px;
	display: block;
	height: 20px !important;
}
 #Contenedor_busqueda  #ContenedorFecha img {
	float: left;
	margin-right: 2px;
	margin-left: 2px;
}

 #Contenedor_busqueda #ContenedorFecha a {
	float: left;
}
 #Contenedor_busqueda #form1 #ContenedorFecha input {
	float: left;
}

 #Contenedor_busqueda #ContenedorSala {
	float: left;
	width: 103px;
	margin: 0px 3px;
	height: 20px;
}


 #Contenedor_busqueda #ContenedorDistrito{
	float: left;
	width: auto;
	margin: 0px 3px;
	height: 20px;
}
 #Contenedor_busqueda #ContenedorTexto {
	float: left;
	width: auto;
	height: 20px;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 3px;
}


 #Contenedor_buscar_nuevo .Titulo {
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	padding: 0px;
	float: left;
	width: auto;
	margin: 7px;
}
 #Contenedor_buscar_nuevo .Buscar {
	float: right;
	width: auto;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
}
 #Contenedor_buscar_nuevo .Nuevo {
	float: right;
	width: auto;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
}

 #CajaUsuario .Foto_Usu {
	float: left;
	height: auto;
	width: 32px;
	margin-right: 5px;
}
 #CajaUsuario .Usuario {
	font-family: Tahoma;
	font-size: 11px;
	color: #FFFFFF;
	height: auto;
	width: auto !important;
	margin-left: 35px;
	font-weight: bold;
	margin-top: 3px;
	margin-bottom:2px;
}
 #CajaUsuario .Tipo_Usu {
	font-family: Tahoma;
	font-size: 10px;
	color: #CCCCCC;
	height: 15px;
	width: auto;
}

 #CajaLogo {
	margin: 5px;
	height: auto;
	width: 100px;
	float: left;
}
 #CajaUsuario {
	margin: 5px;
	float: left;
	height: auto;
	width: 150px;
}

 #CajaUsuario .Tipo_Usu #MenuTipoUsu {
	font-family: Tahoma;
	font-size: 9px;
	color: #eee;
	background-color: #003366;
	display: table-cell;
	width: 120px;
	border:0px;
}
 #CajaMenuTop {
	float: right;
	height: 20px;
	width: auto;
	display: inline;
	margin-top: 15px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
}
 #CajaMenuTop .TituloMenu {
	font-weight: bold;
	width: auto;
	display: inline;
	float: left;
	margin-left: 10px;
	font-size: 11px;
	margin-right: 10px;
}

 #CajaMenuTop .TituloMenuActivo {
	font-weight: bold;
	width: auto;
	display: inline;
	float: left;
	margin-left: 10px;
	font-size: 11px;
	margin-right: 10px;
}

 #CajaMenuTop .TituloMenu a,   #CajaMenuTop .BotonSalir a{
	color: #FFFFFF;
	text-decoration: none;
}

 #CajaMenuTop .TituloMenuActivo a,   #CajaMenuTop .BotonSalir a{
	color: #FFCC00;
	text-decoration: none;
}

 #Contenedor_busqueda .BotonBuscar {
	float: left;
	width: auto;
}

 #Contenedor_busqueda  label {
	float: left;
	margin:5px;
}
 #Contenedor_NuevaSentencia {
	padding: 5px;
	height: auto;
	width: 98.5%;
	/*background-color: #FFFFFF;
	 border: 1px solid #1e82d7; */
	float: left;
	margin-top: 0px;
	margin-right: 2px;
	margin-bottom: 2px;
	margin-left: 2px;
}
 #Contenedor_NuevaSentencia #FormSent {
	width:66%;
	margin:0px auto !important;
}

.mes,
.mes a:link,
.mes a:active,
.mes a:visited{
	font-family: Tahoma, "Franklin Gothic Medium";
	font-size: 11px;
    text-align: left;
	color: #003366;
	text-decoration: none;
	padding:0px ;  
}

@media print {
	#imprimir {
	display:none;
	visibility: hidden;}
}

#status {
background-color: #0072B0;
text-align: right;
height:20px;
padding-top: 5px;
padding-bottom: 5px;
padding-right: 10px;}

#status p {
display: inline;
font-weight: bold;}


#status p a:link , #status p a:visited{
color: #FFFFFF;
font-weight: bold;
padding-left: 5px;
padding-right: 5px;
padding-bottom: 3px;
padding-top: 3px;
text-decoration: none;
font-size:16px;
}

#status p a:hover {
color: #006699;
background-color: #FFFFFF;
font-weight: bold;
text-decoration: none;
}
#CajaBotones{
	padding:5px 0px 5px 0px;
	float:left;
}
.fila_formulario_cabecera{
	font-family:Verdana, Geneva, sans-serif;
	font-weight:bold;
	font-size:16px;
	text-align:center;
	color:#005c89;
	clear:both;
	width:100%;
	height:23px;
	padding:7px 0 0 0;
	background:#94cbe6 url(../imagenes/admin_27.gif) 100% 0px no-repeat;
}
body {
	margin:0;
	padding:0;
	background-color:transparent;
	font-family: tahoma;
	font-size:11px;
}
input{
	height:25px;
	border: 1px solid #8ec2ea;
	font-size: 11px;
	background:#ededed;
	padding:5px;
}
textarea{
	border: 1px solid #8ec2ea;
	font-size: 11px;
	padding: 2px;
	margin:0px 2px 5px 2px;
	background:#ededed;
}

/* botones */
.boton{
	font-size:11px;
	text-align:center;
	cursor:pointer;
	border:0;
	width:90px;
	height:28px;
	color:#FFF;
	padding:0px 5px 2px 5px;
	background:url(../imagenes/botton_01.gif) 0 0 repeat-x;
}
.boton:hover{
	color:#000;
	background:url(../imagenes/botton_01_2.gif) 0 0 repeat-x;
}

.tablaLista{
	width:100%;
	border:1px solid #8ec2ea;
}

.tablaReporte{
	border:1px solid #8ec2ea;
}
/* thead */
.tablaLista thead tr{
	height:30px;
	background:url(../imagenes/tablaHead_01.gif) 0 0 repeat-x;
}
.tablaLista thead .tOpciones{
	color:#000;
	background:url(../imagenes/tablaHead_01_2.gif) 0 0 repeat-x;
}
.tablaLista thead tr th{
	color:#FFF;
	font-size:13px;
	text-align:center;
	border-right:1px solid #87deff;
}
/* tbody */
.tablaLista tbody{
	background: #FFF url(../imagenes/tablaFondo_01.gif) 0 0 repeat-x;
}
.tablaListaFila2{
	background:#ebebeb;
}
.tablaLista tbody tr:hover{
	color:bf5900;
	background:#f9e48c;
}
.tablaLista tbody tr td{
	font-size:11px;
	border-bottom:1px dashed #d6d8d7;
	border-right:1px solid #cccccc;
	padding:3px 0px 3px 5px;
}
.tablaLista tbody tr h1{
	font-size:18px;
	display:block;
	color:#0080cb;
	margin:40px 0px 50px 0;
	padding:0;
}
a.linkOpciones{
	text-decoration:none;
	float:left;
}
a.linkOpciones img{
	margin:0 0 0 7px;
	border:0px;
}
/* tfoot */
.tablaLista tfoot tr{
	background: #d0edfd;
}
.tablaLista tfoot tr td{
	color:#103955;
	text-align:center;
	padding:3px;
}



/* thead */
.tablaReporte thead tr{
	height:30px;
	background:url(../imagenes/tablaHead_01.gif) 0 0 repeat-x;
}
.tablaReporte thead .tOpciones{
	color:#000;
	background:url(../imagenes/tablaHead_01_2.gif) 0 0 repeat-x;
}
.tablaReporte thead tr th{
	color:#FFF;
	font-size:13px;
	text-align:center;
	border-right:1px solid #87deff;
}
/* tbody */
.tablaReporte tbody{
	background: #FFF url(../imagenes/tablaFondo_01.gif) 0 0 repeat-x;
}
.tablaReporteFila2{
	background:#ebebeb;
}
.tablaReporte tbody tr:hover{
	color:bf5900;
	background:#f9e48c;
}
.tablaReporte tbody tr td{
	font-size:11px;
	border-bottom:1px dashed #d6d8d7;
	border-right:1px solid #cccccc;
	padding:3px 0px 3px 5px;
}
.tablaReporte tbody tr h1{
	font-size:18px;
	display:block;
	color:#0080cb;
	margin:40px 0px 50px 0;
	padding:0;
}

/* tfoot */
.tablaReporte tfoot tr{
	background: #d0edfd;
}
.tablaReporte tfoot tr td{
	color:#103955;
	text-align:center;
	padding:3px;
}

/*siniestro*/
.informe{
	width:98%;
	height:auto;
	background-color:#FFF;
}
.informe .iCaja{
	width:50px;
	height:23px;
	padding-top:5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	text-align:center;
	background-color:#f3f3f3;
	border:2px solid #ccc;
}
.informe caption{
	color:#000;
	font-weight:bold;
}
.informe table{
	text-align:left;
}
.informe th, .informe td{
	vertical-align:top;
	padding:5px 0 5px 0;
}
.informeFirma{
	margin-top:30px;
	text-align:center;
	display:block;
	width:90%;
	border-top:1px dashed #666;
}
.iDescripTitulo{
	display:block;
	color:#06F;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:12px;
	text-align:right;
	padding-right:5px;
}
.iDescripcion{
	font-family:"Courier New", Courier, monospace;
	font-size:11px;
	line-height:20px;
	color:#555;
	display:block;
	padding:0 0 3px 5px;
	/* border-left:1px dotted #666;*/
	background:url(../imagenes/bgSementada.gif)0px 20px;
}
/*fin*/

.div_galeriaTitulo{
	color:#FFF;
	width:98%;
	margin:3px;
	float:left;
	position:relative;
}
.div_galeriaTitulo h3{
	color:#878787;
	width:690px;
	margin:0;
	padding:3px 0px 3px 0px;
	font-size:14px;
	font-family:Verdana, Geneva, sans-serif;
	font-weight:normal;
	
}
.div_galeriaTitulo h4{
	margin:0;
	padding:0;
	color:#FFF;
	font-family:Verdana, Geneva, sans-serif;
	font-size:16px;
	border-bottom:1px dotted #666;
	padding-bottom:10px;
	float:left;
}
.div_galeiaImagen{
	width:100%;
	height:auto;
	float:left;
}
.div_galeiaImagen ul{
	margin:0;
	padding:0;
	list-style:none;
}
.div_galeiaImagen li{
	overflow:hidden;
	width:141px;
	height:141px;
	margin:5px 5px 0px 0px;
	float:left;
	
}
.div_galeiaImagen img{
	margin:3px;
	border:0;
}
.div_galeiaImagen a{
	display:block;
	width:141px;
	height:141px;
	background-color:#C6EAF4;
	
}
.div_galeiaImagen a:hover{
	background-color:#F9E48C;
}

.div_galeriaFotos{
	width:900px;
	height:auto;
	float:left;
	/*background-color:#FC0;*/
	margin:0px 0px 0px 20px;
}

#ImgGaal{
	float:left;
}

.tecno{
	width:140px;
	float:left;

}
